<div id="manage-managers" class="has-header">
    <div class="container">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="m in managers">
                    <td>{{m.username}}</td>
                    <td>{{m.email}}</td>
                    <td>
                        <button class="btn btn-danger" ng-click="removeManager(m.id)"><i class="glyphicon glyphicon-remove-sign"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <form>
            <div class="input-group">
                <input type="text" class="form-control" uib-typeahead="user as user.username for user in loadUsers($viewValue)" ng-model="selectedUser" typeahead-no-results="noResults" typeahead-loading="loadingUsers" ng-model-options="{debounce:500}" placeholder="Enter a username ...">
                <div class="input-group-btn">
                    <button class="btn btn-success" ng-click="addManager(selectedUser)" type="submit" ng-disabled="!selectedUser"><i class="glyphicon glyphicon-plus-sign"></i></button>
                </div>
            </div>
        </form>
        <div class="pull-right">
            <i ng-show="loadingUsers" class="glyphicon glyphicon-refresh"></i>
            <div ng-show="noResults">
              <i class="glyphicon glyphicon-remove"></i> No Results Found
            </div>
        </div>
    </div>
</div>