<div class="modal-header">
    <h4 class="modal-title">Guests</h4>
</div>
<div class="modal-body">
    <div class="table-responsive">
        <table ng-table="tableParams" class="table table-condensed table-bordered table-striped margin-top-25" show-filter="true">
             <tr ng-repeat="g in $data">
                <td title="'First Name'" filter="{ 'first_name': 'text'}" sortable="'first_name'">
                    {{g.first_name}}
                </td>
                <td title="'Last Name'" filter="{ 'last_name': 'text'}" sortable="'last_name'">
                    {{g.last_name}}
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="close()">Close</button>
</div>