<div id="requests" class="container has-header">
	<div class="container">
		<h1>Rooms for {{accommodation.name}}</h1>
		<h5>{{accommodation.address}}</h5>
		<h5>{{accommodation.city}}</h5>
		<h5>{{accommodation.country}}</h5>
	</div>

	<div class="panel panel-default margin-top-25">
		<div class="panel-body">

			<table ng-table="tableParams" class="table table-condensed table-bordered table-striped margin-top-25" show-filter="true">
				<tr ng-repeat="r in $data">
					<td title="'Room'" filter="{ 'room_no': 'text'}" sortable="'room_no'">
						{{r.room_no}}
					</td>
					<td title="'Guests'" filter="{ 'guest_count': 'number'}" sortable="'guest_count'">
						{{r.guest_count}}
					</td>
					<td title="'Capacity'" filter="{ 'capacity': 'number'}" sortable="'capacity'">
						{{r.capacity}}
					</td>
					<td>
						<button class="btn btn-danger" ng-click="del(r)">
							<span class="glyphicon glyphicon-trash"></span></button>
						</td>
					</tr>

					<td title="'Room'">
						<input type="text" ng-model="room.room_no" class="editable-input form-control input-sm" required />
					</td>
					<td title="'Guests'">
						{{room.guest_count}}
					</td>
					<td title="'Capacity'">
						<input type="number" ng-model="room.capacity" class="editable-input form-control input-sm" required />
					</td>
					<td>
						<!-- Disable add buttion unless theres values in the input-->
					<button type="button" class="btn btn-success" ng-disabled="!room.room_no || !room.capacity" ng-click="add(room)">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
				</td>
			</table>

			<div class="pull-right">
         		<button class="btn btn-info" ng-click="export()">
          			<span class="glyphicon glyphicon-download"></span>
          			Export
        		</button>
      		</div>
		</div>
	</div>
</div>
