<div id="requests" class="container has-header">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="container">
				<h1>Rooms for {{accommodation.name}}</h1>
				<h5>{{accommodation.address}}</h5>
				<h5>{{accommodation.city}}</h5>
				<h5>{{accommodation.country}}</h5>
			</div>

			<div class="margin-top-25">

				<table ng-table="tableParams" class="table table-condensed table-bordered table-striped" show-filter="true">
					<tr ng-repeat="r in $data">
						<td title="'Room'" filter="{ 'room_no': 'text'}" sortable="'room_no'">
							{{r.room_no}}
						</td>
						<td title="'Guests'" filter="{ 'guest_count': 'number'}" sortable="'guest_count'">
							{{r.guest_count}}
						</td>
						<td title="'Capacity'" filter="{ 'capacity': 'number'}" sortable="'capacity'">
							{{r.capacity}}
						</td>
						<td>
							<button class="btn btn-danger btn-sm" ng-click="del($index)">
								<span class="glyphicon glyphicon-trash"></span></button>
						</td>
					</tr>

					<td title="'Room'">
						<input type="text" ng-model="room.room_no" class="editable-input form-control input-sm" required />
					</td>
					<td title="'Guests'">
						<input type="number" ng-model="room.guest_count" class="editable-input form-control input-sm" required />
					</td>
					<td title="'Capacity'">
						<input type="number" ng-model="room.capacity" class="editable-input form-control input-sm" required />
					</td>
					<td>
						<!-- Disable add buttion unless theres values in the input
						-->
						<button class="btn btn-default" ng-disabled="!room.room_no || !room.guest_count || !room.capacity" ng-click="add(room)">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</td>
				</table>

				<div class="btn-group pull-right" ng-show="hasChanges">
					<button class="btn btn-success" ng-click="save()">
							<span class="glyphicon glyphicon-ok"></span>
							Save
					</button>
					<button class="btn btn-default" ng-click="cancel()">
							<span class="glyphicon glyphicon-remove"></span>
							Cancel
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
