@media (min-width: 768px) {
    #home-conferences img {
        transform: translateX(-20%);
    }
}

@media (max-width: 768px) {
    #home-conferences img {
        width: 100%;
    }
}

#home-conferences .card-inverse {
  overflow: hidden;
  width: 100%;
  height: 250px;
}

#home .banner {
  background-image: url("/assets/img/overlay.png"), url("/assets/img/gobindsarvar.jpg");
}

#home .card-inverse {
  background-size: cover;
}

#home hr {
  margin-top: 0px;
}
