<div id="public-view">
    <div class="jumbotron">
        <div class="container">
            <h3 class="text-center">We are Gobind Sarvar, developing "Today's Learner... Tomorrow's Guide"</h3>
            <h4 class="text-center">A non-for-profit spiritual learning instiutute with Location across Canada, USA, UK, France, India...</h4>
        </div>
    </div>
    <div class="container" id="home-conferences">
        <h1>Upcoming Conferences</h1>
        <hr>
        <div class="row">
            <div class="col-sm-4" ng-if="conferences" ng-repeat="con in conferences">
                <div class="card card-inverse">
                    <img src="{{con.image}}" class="card-img">
                    <div class="card-img-overlay">
                        <h3 class="card-title">{{con.name}}</h3>
                        <h4 class="card-subtitle">{{con.location}}</h4>
                        <h4 class="card-subtitle">{{con.date}}</h4>
                    </div>
                </div>
            </div>
            <h4 id="upcoming" ng-if="!conferences">No upcoming conferences. Sign up for notifications about new conferences <a href="">here</a>.</h4>
        </div>
        <h1>Past Conferences</h1>
        <hr>
        <div class="row">
            <div class="col-sm-4" ng-repeat="con in pastConferences">
                <div class="card card-inverse">
                    <img src="{{con.image}}" class="card-img">
                    <div class="card-img-overlay">
                        <h3 class="card-title">{{con.name}}</h3>
                        <h4 class="card-subtitle">{{con.location}}</h4>
                        <h4 class="card-subtitle">{{con.date}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
