<div id="home">
    <div class="banner">
        <div class="container">
            <h3>We are Gobind Sarvar, developing "Today's Learner... Tomorrow's Guide"</h3>
            <h4>A non-for-profit spiritual learning institute with locations across Canada, USA, UK, France, India...</h4>
        </div>
    </div>
    <div class="body-container" id="home-conferences">
        <div class="box">
            <h1>Upcoming Conferences</h1>
            <hr>
            <div class="row">
                <div class="col-sm-4" ng-if="conferences" ng-repeat="con in conferences">
                    <a href="/conference-{{con.conferenceId}}">
                        <div class="card card-inverse" ng-style="{'background-image': 'url(assets/img/{{con.country}}/small/{{3 | randomize}}.jpg)'}">
                            <div class="card-img-overlay">
                                <h3 class="card-title">{{con.name}}</h3>
                                <h4 class="card-subtitle">{{con.country}}</h4>
                                <h4 class="card-subtitle">{{con.startDate}}</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <h4 class="upcoming" ng-if="!conferences">No upcoming conferences. Sign up for notifications about new conferences <a href="">here</a>.</h4>
            </div>
            <h1>Past Conferences</h1>
            <hr>
            <div class="row">
                <div class="col-sm-4" ng-if="pastConferences" ng-repeat="con in pastConferences">
                    <a href="/conference-{{con.conferenceId}}">
                        <div class="card card-inverse" ng-style="{'background-image': 'url(assets/img/{{con.country}}/small/{{3 | randomize}}.jpg)'}">
                            <div class="card-img-overlay">
                                <h3 class="card-title">{{con.name}}</h3>
                                <h4 class="card-subtitle">{{con.country}}</h4>
                                <h4 class="card-subtitle">{{con.startDate}}</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
