#home-conferences img {
    width: 100%;
    max-height: 300px;
}

#home-conferences
.card-title,
.card-subtitle {
    margin-top: 0px !important;
    color: white !important;
    text-shadow: 1px 1px 2px black !important;
    margin-bottom: 10px;
}

#public-view
.jumbotron {
    color: white;
    text-shadow: 1px 1px 2px black !important;
    background: url("/assets/img/gobindsarvar.jpg");
    background-size: cover;
    height: 350px;
    box-shadow: 0px 1px 2px black;
}

#public-view
.jumbotron .container {
    top: 150px;
    position: relative;
}

#publilc-view hr {
    margin-top: 0px;
}

#public-view #upcoming {
    margin-left: 15px;
}