<div id="profile" class="container has-header">
  <h1 class="page-header">Associated Member Profile</h1>
  <div class="panel panel-default">
    <div class="panel-body">
      <uib-accordion>
        <uib-accordion-group is-open="name.open">
          <uib-accordion-heading>
            Name: {{member.first_name}}&nbsp{{member.last_name}}
            <div class="pull-right">Edit</div>
          </uib-accordion-heading>
          <form name="profileForm" class="form-horizontal" ng-submit="saveNameChanges()">
            <div class="form-group" ng-class="{'has-error': profileForm.firstName.$error.names}">
              <label for="inputUser" class="col-sm-2 col-sm-offset-3 form-control-label">First</label>
              <div class="col-sm-4">
                <input class="form-control" name="firstName" id="inputUser" ng-model="member.first_name" names required>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-error': profileForm.middleName.$error.names}">
              <label for="inputUser" class="col-sm-2 col-sm-offset-3 form-control-label">Middle</label>
              <div class="col-sm-4">
                <input class="form-control" name="middleName" id="inputUser" placeholder="Optional" ng-model="member.middle_name" names>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-error': profileForm.lastName.$error.names}">
              <label for="inputUser" class="col-sm-2 col-sm-offset-3 form-control-label">Last</label>
              <div class="col-sm-4">
                <input class="form-control" name="lastName" id="inputUser" ng-model="member.last_name" names required>
              </div>
            </div>
          </form>
          <div class="col-sm-8 col-sm-offset-4">
            <button type="button" class="btn btn-success btn-sm" ng-click="saveNameChanges()" ng-disabled="profileForm.$invalid">Save Changes</button>
            <button type="button" class="btn btn-danger btn-sm" ng-click="name.open = !name.open">Cancel</button>
          </div>
        </uib-accordion-group>

        <uib-accordion-group is-open="address.open">
          <uib-accordion-heading>
            Address: {{member.city}}<span ng-if="member.city">,&nbsp</span>{{member.country}}
            <div class="pull-right">Edit</div>
          </uib-accordion-heading>
          <form name="addressForm" class="form-horizontal" ng-submit="saveAddressChanges()">
            <div class="form-group" ng-class="{'has-error': addressForm.city.$invalid && addressForm.city.$dirty}">
              <label for="inputUser" class="col-sm-2 col-sm-offset-2 form-control-label">City</label>
              <div class="col-sm-5">
                <input class="form-control" id="inputUser" ng-model="member.city">
              </div>
            </div>
            <div class="form-group" ng-class="{'has-error': addressForm.city.$invalid && addressForm.city.$dirty}">
              <label for="inputUser" class="col-sm-2 col-sm-offset-2 form-control-label">Country</label>
              <div class="col-sm-5">
                <input class="form-control" id="inputUser" ng-model="member.country">
              </div>
            </div>
          </form>
          <div class="col-sm-8 col-sm-offset-4">
            <button type="button" class="btn btn-success btn-sm" ng-click="saveAddressChanges()" ng-disabled="addressForm.$invalid">Save Changes</button>
            <button type="button" class="btn btn-danger btn-sm" ng-click="address.open = !address.open">Cancel</button>
          </div>
        </uib-accordion-group>

        <uib-accordion-group heading="Remove Associated Member" panel-class="panel-danger" is-open="delete.open">
          <h4 class="text-center">This option cannot be undone!</h4>
          <div class="col-sm-12 col-sm-offset-5">
            <button class="btn btn-default btn-sm" ng-click="deleteAccount(member.id)">Remove Member</button>
            <button type="button" class="btn btn-danger btn-sm" ng-click="delete.open = !delete.open">Cancel</button>
          </div>
        </uib-accordion-group>
      </uib-accordion>
    </div>
  </div>
    <h1 class="page-header">{{member.first_name}}&nbsp{{member.last_name}} Application Status</h1>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-6">
                <h3 class="text-center">Conferences</h3>
                <hr>
                <!-- Requests -->
                <div class="col-sm-12" ng-if="conferences" ng-repeat="con in conferences">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="title-status card-header">
                                <h4>{{con.name}}&nbsp</h4>
                                <label class="alert" is-approved status="con.pivot.status">{{con.pivot.status | uppercase}}</label>
                            </div>
                            <div class="card-block">
                                <h5 class="card-text">Location: {{con.city}}, {{con.country}}</h5>
                                <h5>Start: {{con.start_date | date}}</h5>
                                <h5>End: {{con.end_date | date}}</h5>
                                <h5 ng-if="con.room">Housing: <strong>{{con.room.accomm}} - {{con.room.no}}</strong></h5>
                                <h5 ng-if="con.arrival">Arrival Ride: <strong>{{con.arrival}}</strong></h5>
                                <h5 ng-if="con.departure">Departure Ride: <strong>{{con.departure}}</strong></h5>

                                <button class="btn btn-primary btn-sm" ng-click="viewConferenceApplication($index)" ng-if="con.pivot.status != 'approved'">Edit Application</button>
                                <button class="btn btn-danger btn-sm" ng-click="cancelConferenceApplication($index)">Delete Application</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="!conferences.length && events.length" class="row">
                    <h4 class="text-center">No conference submissions</h4>
                    <hr>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="text-center">Events</h3>
                <hr>
                <!-- Requests -->
                <div class="col-sm-12" ng-if="events" ng-repeat="eve in events">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="title-status card-header">
                                <h4>{{eve.name}}&nbsp</h4>
                                <label class="alert" is-approved status="eve.pivot.status">{{eve.pivot.status | uppercase}}</label>
                            </div>
                            <div class="card-block">
                                <h5 class="card-text">Location: {{eve.city}}, {{eve.country}}</h5>
                                <h5>Facilitator: {{eve.facilitator}}</h4>
                                <h5>From: {{eve.start_time | date:'shortTime'}} to {{eve.end_time | date:'shortTime'}}</h5>
                                <h5 class="card-text">Date: {{eve.date | date}}</h5>
                                <h5 ng-if="eve.arrival">Arrival Ride: <strong>{{eve.arrival}}</strong></h5>
                                <h5 ng-if="eve.departure">Departure Ride: <strong>{{eve.departure}}</strong></h5>

                                <button class="btn btn-primary btn-sm" ng-click="viewEventApplication($index)" ng-if="con.pivot.status != 'approved'">Edit Application</button>
                                <button class="btn btn-danger btn-sm" ng-click="cancelEventApplication($index)">Delete Application</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="!events.length && conferences.length" class="row">
                    <h4 class="text-center">No event submissions</h4>
                    <hr>
                </div>
            </div>
            <div ng-show="!conferences.length && !events.length" class="row">
                <h4 class="text-center">No new conferences or events to submissions</h4>
                <hr>
            </div>
        </div>
    </div>
</div>
