<div id="profile" class="container has-header">
  <h1 class="page-header">Profile</h1>
  <div class="panel panel-default">
    <div class="panel-body">
      <uib-accordion>
        <uib-accordion-group is-open="name.open">
          <uib-accordion-heading>
            Name: {{user.first_name}} {{user.last_name}}
            <div class="pull-right">Edit</div>
          </uib-accordion-heading>
          <form role="form" class="form-horizontal">
            <div class="form-group">
              <label for="inputUser" class="col-sm-2 col-sm-offset-3 form-control-label">First</label>
              <div class="col-sm-4">
                <input class="form-control" id="inputUser" ng-model="user.first_name">
              </div>
            </div>
            <div class="form-group">
              <label for="inputUser" class="col-sm-2 col-sm-offset-3 form-control-label">Middle</label>
              <div class="col-sm-4">
                <input class="form-control" id="inputUser" placeholder="Optional" ng-model="user.middle_name">
              </div>
            </div>
            <div class="form-group">
              <label for="inputUser" class="col-sm-2 col-sm-offset-3 form-control-label">Last</label>
              <div class="col-sm-4">
                <input class="form-control" id="inputUser" ng-model="user.last_name">
              </div>
            </div>
          </form>
          <div class="col-sm-8 col-sm-offset-4">
            <button type="button" class="btn btn-success btn-sm" ng-click="saveNameChanges()">Save Changes</button>
            <button type="button" class="btn btn-danger btn-sm" ng-click="name.open = !name.open">Cancel</button>
          </div>
        </uib-accordion-group>

        <uib-accordion-group is-open="contact.open">
          <uib-accordion-heading>
            Contact Information
            <div class="pull-right">Edit</div>
          </uib-accordion-heading>
          <form role="form" class="form-horizontal">
            <div class="form-group">
              <label for="inputUser" class="col-sm-2 col-sm-offset-2 form-control-label">Email</label>
              <div class="col-sm-5">
                <input class="form-control" id="inputUser" ng-model="user.email">
              </div>
            </div>
            <div class="form-group">
              <label for="inputUser" class="col-sm-2 col-sm-offset-2 form-control-label">Home Phone</label>
              <div class="col-sm-5">
                <input class="form-control" id="inputUser" ng-model="user.phone">
              </div>
            </div>
          </form>
          <div class="col-sm-8 col-sm-offset-4">
            <button type="button" class="btn btn-success btn-sm" ng-click="saveContactChanges()">Save Changes</button>
            <button type="button" class="btn btn-danger btn-sm" ng-click="contact.open = !contact.open">Cancel</button>
          </div>
        </uib-accordion-group>

        <uib-accordion-group is-open="address.open">
          <uib-accordion-heading>
            Address: {{user.city}}<span ng-if="user.city">,&nbsp</span>{{user.country}}
            <div class="pull-right">Edit</div>
          </uib-accordion-heading>
          <form role="form" class="form-horizontal">
            <div class="form-group">
              <label for="inputUser" class="col-sm-2 col-sm-offset-2 form-control-label">City</label>
              <div class="col-sm-5">
                <input class="form-control" id="inputUser" ng-model="user.city">
              </div>
            </div>
            <div class="form-group">
              <label for="inputUser" class="col-sm-2 col-sm-offset-2 form-control-label">Country</label>
              <div class="col-sm-5">
                <input class="form-control" id="inputUser" ng-model="user.country">
              </div>
            </div>
          </form>
          <div class="col-sm-8 col-sm-offset-4">
            <button type="button" class="btn btn-success btn-sm" ng-click="saveAddressChanges()">Save Changes</button>
            <button type="button" class="btn btn-danger btn-sm" ng-click="address.open = !address.open">Cancel</button>
          </div>
        </uib-accordion-group>

        <uib-accordion-group is-open="password.open">
          <uib-accordion-heading>
            Password
            <div class="pull-right">Edit</div>
          </uib-accordion-heading>
          <!-- Password Change Form -->
          <form class="form-horizontal">
            <!-- Old password -->
            <div class="form-group">
              <label for="inputUser" class="col-sm-3 col-sm-offset-3 form-control-label">Current</label>
              <div class="col-sm-4">
                <input type="password" class="form-control" id="inputUser" placeholder="Enter Old Password" ng-model="user.old_password">
              </div>
            </div>
            <!-- New Password -->
            <div class="form-group">
              <label for="inputUser" class="col-sm-3 col-sm-offset-3 form-control-label">New</label>
              <div class="col-sm-4">
                <input type="password" class="form-control" id="inputUser" placeholder="Enter New Password" ng-model="user.password">
              </div>
            </div>
            <!-- Confirm Password -->
            <div class="form-group">
              <label for="inputUser" class="col-sm-3 col-sm-offset-3 form-control-label">Confirm New</label>
              <div class="col-sm-4">
                <input type="password" class="form-control" id="inputUser" placeholder="Confirm Password">
              </div>
            </div>
          </form>
          <div class="col-sm-8 col-sm-offset-4">
            <button type="button" class="btn btn-success btn-sm" ng-click="savePasswordChanges()">Save Changes</button>
            <button type="button" class="btn btn-danger btn-sm" ng-click="password.open = !password.open">Cancel</button>
          </div>
        </uib-accordion-group>

        <uib-accordion-group heading="Deactivate Account" panel-class="panel-danger" is-open="delete.open">
          <h4 class="text-center">This option cannot be undone!</h4>
          <div class="col-sm-12 col-sm-offset-5">
            <button class="btn btn-default btn-sm" ng-click="deleteAccount(user.id)">Deactivate</button>
            <button type="button" class="btn btn-danger btn-sm" ng-click="delete.open = !delete.open">Cancel</button>
          </div>
        </uib-accordion-group>
      </uib-accordion>
    </div>
  </div>

    <h1 class="page-header">Associated Members</h1>
    <div class="panel panel-default">
        <div class="panel-body table-responsive">
            <table class="table" ng-table="tableParams">
                <colgroup>
                  <col width="20%" />
                  <col width="15%" />
                  <col width="20%" />
                  <col width="25%" />
                  <col width="20%" />
                </colgroup>

                <tr ng-repeat="member in $data">
                    <td title="'First Name'">{{member.first_name}}</td>
                    <td title="'Middle Name'">{{member.middle_name}}</td>
                    <td title="'Last Name'">{{member.last_name}}</td>
                    <td title="'Birthdate'">{{member.birthdate | date}}</td>
                    <td title="'Gender'">{{member.gender}}</td>
                    <td>
                        <button class="btn btn-sm btn-danger" ng-click="removeMember(member)"><i class="glyphicon glyphicon-remove"></i></button>
                    </td>
                </tr>
                <tr ng-form="newMemberForm">
                    <td>
                        <input class="form-control" type="text" ng-model="newMember.first_name" required>
                    </td>
                    <td>
                        <input class="form-control" type="text" ng-model="newMember.middle_name" required>
                    </td>
                    <td>
                        <input class="form-control" type="text" ng-model="newMember.last_name" required>
                    </td>
                    <td>
                        <div class="input-group">
                            <input class="form-control" type="text" ng-model="newMember.birthdate" uib-datepicker-popup="yyyy-MM-dd" is-open="calendar.open" required>
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-link" ng-click="calendar.open = !calendar.open"><i class="glyphicon glyphicon-calendar"></i></button>
                            </div>
                        </div>
                    </td>
                    <td>
                        <select class="form-control" id="regGender" name="gender" ng-model="newMember.gender" required>
                          <option value="" disabled>Select a gender ...</option>
                          <option value="male">Male</option>
                          <option value="female">Female</option>
                          <option value="other">Other</option>
                        </select>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-sm btn-success" ng-click="addMember()"><i class="glyphicon glyphicon-plus"></i></button>
                            <button class="btn btn-sm btn-danger" ng-click="resetMember()"><i class="glyphicon glyphicon-trash"></i></button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <h1 class="page-header">Application Status Updates</h1>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-6">
                <h3 class="text-center">Conferences</h3>
                <hr>
                <!-- Requests -->
                <div class="col-sm-12" ng-if="conferences" ng-repeat="con in conferences">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="title-status card-header">
                                <h4>{{con.name}}&nbsp</h4>
                                <label class="alert" is-approved status="con.pivot.status">{{con.pivot.status | uppercase}}</label>
                            </div>
                            <div class="card-block">
                                <h4 class="card-text">Location: {{con.city}},{{con.country}}</h4>
                                <h5 class="card-text">Start: {{con.start_date}}</h5>
                                <h5 class="card-text">End: {{con.end_date}}</h5>

                                <div class="row">
                                  <div class="col-sm-3" ng-if="con.room.length > 0">
                                      <h4>Hotel</h4>
                                      <ul class="list-group">
                                          <li class="list-group-item" ng-repeat="room in con.room">{{room.name}}</li>
                                      </ul>
                                  </div>
                                  <div class="col-sm-3" ng-if="con.room.length > 0">
                                      <h4>Room</h4>
                                      <ul class="list-group">
                                          <li class="list-group-item" ng-repeat="room in con.room">{{room.room_no}}</li>
                                      </ul>
                                  </div>
                                  <div class="col-sm-3" ng-if="con.vehicles.length > 0">
                                      <h4>Arrival Vehicle</h4>
                                      <ul class="list-group">
                                          <li class="list-group-item" ng-repeat="vehicle in con.vehicles" ng-if="vehicle.type == 'arrival'">
                                              {{vehicle.name}}
                                          </li>
                                      </ul>
                                  </div>
                                  <div class="col-sm-3" ng-if="con.vehicles.length > 0">
                                      <h4>Departure Vehicle</h4>
                                      <ul class="list-group">
                                          <li class="list-group-item" ng-repeat="vehicle in con.vehicles" ng-if="vehicle.type == 'departure'">
                                              {{vehicle.name}}
                                          </li>
                                      </ul>
                                  </div>
                                </div>

                                <button class="btn btn-primary btn-sm" ng-click="viewConferenceApplication($index)">Edit Application</button>
                                <button class="btn btn-danger btn-sm" ng-click="cancelConferenceApplication($index)">Delete Application</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="!conferences.length && events.length" class="row">
                    <h4 class="text-center">No conference submissions</h4>
                    <hr>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="text-center">Events</h3>
                <hr>
                <!-- Requests -->
                <div class="col-sm-12" ng-if="events" ng-repeat="eve in events">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="title-status card-header">
                                <h4>{{eve.name}}&nbsp</h4>
                                <label class="alert" is-approved status="eve.pivot.status">{{eve.pivot.status | uppercase}}</label>
                            </div>
                            <div class="card-block">
                                <h4 class="card-text">Location: {{eve.city}},{{eve.country}}</h4>
                                <h4 class="card-text">Facilitator: {{eve.facilitator}}</h4>
                                <h5 class="card-text">From: {{eve.start_time}} to {{eve.end_time}}</h5>
                                <h5 class="card-text">Date: {{eve.date}}</h5>

                                <div class="row">
                                  <div class="col-sm-6" ng-if="eve.vehicles.length > 0">
                                      <h4>Arrival Vehicle</h4>
                                      <ul class="list-group">
                                          <li class="list-group-item" ng-repeat="vehicle in eve.vehicles" ng-if="vehicle.type == 'arrival'">
                                              {{vehicle.name}}
                                          </li>
                                      </ul>
                                  </div>
                                  <div class="col-sm-6" ng-if="eve.vehicles.length > 0">
                                      <h4>Departure Vehicle</h4>
                                      <ul class="list-group">
                                          <li class="list-group-item" ng-repeat="vehicle in eve.vehicles" ng-if="vehicle.type == 'departure'">
                                              {{vehicle.name}}
                                          </li>
                                      </ul>
                                  </div>
                                </div>

                                <!-- <button class="btn btn-primary btn-sm" ng-click="viewEventApplication($index)">Edit Application</button> -->
                                <button class="btn btn-danger btn-sm" ng-click="cancelEventApplication($index)">Delete Application</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="!events.length && conferences.length" class="row">
                    <h4 class="text-center">No event submissions</h4>
                    <hr>
                </div>
            </div>
            <div ng-show="!conferences.length && !events.length" class="row">
                <h4 class="text-center">No new conferences or events to submissions</h4>
                <hr>
            </div>
        </div>
    </div>
</div>
