#user-registration .dropdown-menu[uib-typeahead-popup] {
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
}

#user-registration .has-error select {
	border: 2px solid red;
}

#user-registration .has-error input {
	border: 2px solid red;
}

#user-registration .alert {
	display: none;
	height: 30px;
	margin-bottom: 0;
	margin-top: 8px;
	padding: 5px 12px;
}

#user-registration .has-error .alert {
	display: block;
}