<div class="container has-header" id="user-registration">
    <h1 class="text-center">User Registration</h1>
    <form class="form-horizontal" ng-submit="register()">
        <div class="form-group">
            <label for="regUser" class="col-sm-2 col-sm-offset-2 control-label">Username</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="regUser" ng-model="user.Username">
            </div>
        </div>
        <div class="form-group">
            <label for="regPw" class="col-sm-2 col-sm-offset-2 control-label">Password</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="regPw" ng-model="user.Password">
            </div>
        </div>
        <div class="form-group">
            <label for="regPw2" class="col-sm-2 col-sm-offset-2 control-label">Confirm Password</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="regPw2" ng-model="user['Confirm Password']">
            </div>
            <p ng-if="user.Password != user['Confirm Password'] && user['Confirm Password']" class="col-sm-3 col-sm-offset-4 text-danger form-control-static">* Passwords do not match</p>
        </div>
        <div class="form-group" ng-if="$index > 2 && $index < 6" ng-repeat="(label, value) in user track by $index">
            <label for="regUser" class="col-sm-2 col-sm-offset-2 control-label">{{label}}</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="regUser" ng-model="user[label]">
            </div>
        </div>
        <div class="form-group">
            <label for="regGender" class="col-sm-2 col-sm-offset-2 control-label">Gender</label>
            <div class="col-sm-4">
                <select class="form-control" id="regGender" ng-model="user.Gender">
                    <option value="" disabled>Select a gender ...</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="regBirthdate" class="col-sm-2 col-sm-offset-2 control-label">Birthdate</label>
            <div class="col-sm-4">
                <div class="input-group">
                    <input type="text" class="form-control" id="regBirthdate" ng-model="user['Birthdate']" uib-datepicker-popup="MMM d, yyyy" is-open="calendar.isOpen" placeholder="Jan 1, 2016">
                    <span class="input-group-btn">
                        <button class="btn btn-link" type="button" ng-click="calendar.isOpen = !calendar.isOpen">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="regCountry" class="col-sm-2 col-sm-offset-2 control-label">Country</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="regCountry" ng-model="user.Country" uib-typeahead="country as country.name for country in countries | filter: {name:$viewValue} | limitTo: 20" typeahead-show-hint="true" typeahead-min-length="0">
            </div>
        </div>
        <div class="form-group">
            <label for="regCity" class="col-sm-2 col-sm-offset-2 control-label">City</label>
            <div class="col-sm-4">
                <input type="tel" class="form-control" id="regCity" ng-model="user.City" g-places-autocomplete options="citiesOnly">
            </div>
        </div>
        <div class="form-group">
            <label for="regEmail" class="col-sm-2 col-sm-offset-2 control-label">Email</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="regEmail" ng-model="user.Email">
            </div>
        </div>
        <div class="form-group">
            <label for="regPhone" class="col-sm-2 col-sm-offset-2 control-label">Phone</label>
            <div class="col-sm-4">
                <input type="tel" class="form-control" id="regPhone" ng-model="user.Phone">
            </div>
        </div>
        <button class="btn btn-lg btn-sm-block btn-success center-block" type="submit">Sign Up</button>
    </form>
</div>
