<div id="manage-accounts">
    <div class="container-fluid">
        <h1 class="page-header">Manage Accounts</h1>
        <uib-accordion>
            <uib-accordion-group>
                <uib-accordion-heading>
                    <div>Roles</div>
                </uib-accordion-heading>
                <uib-accordion>
                    <uib-accordion-group ng-repeat="role in roles">
                        <uib-accordion-heading>
                            <div>{{role.name}}</div>
                        </uib-accordion-heading>
                        <div class="table-responsive">
                            <table class="table table-condensed" id="role-table">
                                <tr>
                                    <th id="role-name">Role</th>
                                    <th>Conference</th>
                                    <th>Attendees</th>
                                    <th>Housing</th>
                                    <th>Rooms</th>
                                    <th>Inventory</th>
                                    <th>Transport</th>
                                    <th>Event</th>
                                    <th>Attendees</th>
                                    <th>Transport</th>
                                    <th>Role</th>
                                    <th>User</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td id="role-name">
                                        <input type="text" class="form-control" ng-model="role.name" placeholder="Role Name">
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['conference.store']">Create</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['conference.update']">Update</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['conference.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['conference_attendee.show']">View</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['conference_attendee.update']">Update</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['conference_attendee.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['accommodation.show']">View</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['accommodation.store']">Create</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['accommodation.update']">Update</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['accommodation.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['room.show']">View</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['room.store']">Create</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['room.update']">Update</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['room.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['item.show']">View</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['item.store']">Create</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['item.update']">Update</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['item.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['conference_vehicle.show']">View</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['conference_vehicle.store']">Create</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['conference_vehicle.update']">Update</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['conference_vehicle.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-success" uib-btn-checkbox ng-model="role.permissions['event.store']">Create</label>
                                            <label class="btn btn-sm btn-success" uib-btn-checkbox ng-model="role.permissions['event.update']">Update</label>
                                            <label class="btn btn-sm btn-success" uib-btn-checkbox ng-model="role.permissions['event.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-success" uib-btn-checkbox ng-model="role.permissions['event_attendee.show']">View</label>
                                            <label class="btn btn-sm btn-success" uib-btn-checkbox ng-model="role.permissions['event_attendee.update']">Update</label>
                                            <label class="btn btn-sm btn-success" uib-btn-checkbox ng-model="role.permissions['event_attendee.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-success" uib-btn-checkbox ng-model="role.permissions['event_vehicle.show']">View</label>
                                            <label class="btn btn-sm btn-success" uib-btn-checkbox ng-model="role.permissions['event_vehicle.store']">Create</label>
                                            <label class="btn btn-sm btn-success" uib-btn-checkbox ng-model="role.permissions['event_vehicle.update']">Update</label>
                                            <label class="btn btn-sm btn-success" uib-btn-checkbox ng-model="role.permissions['event_vehicle.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-warning" uib-btn-checkbox ng-model="role.permissions['role.show']">View</label>
                                            <label class="btn btn-sm btn-warning" uib-btn-checkbox ng-model="role.permissions['role.store']">Create</label>
                                            <label class="btn btn-sm btn-warning" uib-btn-checkbox ng-model="role.permissions['role.update']">Update</label>
                                            <label class="btn btn-sm btn-warning" uib-btn-checkbox ng-model="role.permissions['role.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-default" uib-btn-checkbox ng-model="role.permissions['user.show']">View</label>
                                            <label class="btn btn-sm btn-default" uib-btn-checkbox ng-model="role.permissions['user.update']">Update</label>
                                            <label class="btn btn-sm btn-default" uib-btn-checkbox ng-model="role.permissions['user.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <button class="btn btn-warning" ng-click="updateRole(role)"><i class="glyphicon glyphicon-edit"></i></button>
                                            <button class="btn btn-danger" ng-click="deleteRole(role.id)"><i class="glyphicon glyphicon-minus"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </uib-accordion-group>
                    <uib-accordion-group>
                        <uib-accordion-heading>
                            <div><i class="glyphicon glyphicon-plus"></i> Add a new role</div>
                        </uib-accordion-heading>
                        <div class="table-responsive">
                            <table class="table table-condensed" id="role-table">
                                <tr>
                                    <th id="role-name">Role</th>
                                    <th>Conference</th>
                                    <th>Attendees</th>
                                    <th>Housing</th>
                                    <th>Rooms</th>
                                    <th>Inventory</th>
                                    <th>Transport</th>
                                    <th>Event</th>
                                    <th>Attendees</th>
                                    <th>Transport</th>
                                    <th>Role</th>
                                    <th>User</th>
                                    <th>&nbsp</th>
                                </tr>
                                <tr>
                                    <td id="role-name">
                                        <input class="form-control" ng-model="newRole.name" placeholder="Role name">
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['conference.store']">Create</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['conference.update']">Update</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['conference.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['conference_attendee.show']">View</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['conference_attendee.update']">Update</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['conference_attendee.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['accommodation.show']">View</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['accommodation.store']">Create</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['accommodation.update']">Update</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['accommodation.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['room.show']">View</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['room.store']">Create</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['room.update']">Update</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['room.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['item.show']">View</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['item.store']">Create</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['item.update']">Update</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['item.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['conference_vehicle.show']">View</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['conference_vehicle.store']">Create</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['conference_vehicle.update']">Update</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['conference_vehicle.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-success" uib-btn-checkbox ng-model="newRole.permissions['event.store']">Create</label>
                                            <label class="btn btn-sm btn-success" uib-btn-checkbox ng-model="newRole.permissions['event.update']">Update</label>
                                            <label class="btn btn-sm btn-success" uib-btn-checkbox ng-model="newRole.permissions['event.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-success" uib-btn-checkbox ng-model="newRole.permissions['event_attendee.show']">View</label>
                                            <label class="btn btn-sm btn-success" uib-btn-checkbox ng-model="newRole.permissions['event_attendee.update']">Update</label>
                                            <label class="btn btn-sm btn-success" uib-btn-checkbox ng-model="newRole.permissions['event_attendee.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-success" uib-btn-checkbox ng-model="newRole.permissions['event_vehicle.show']">View</label>
                                            <label class="btn btn-sm btn-success" uib-btn-checkbox ng-model="newRole.permissions['event_vehicle.store']">Create</label>
                                            <label class="btn btn-sm btn-success" uib-btn-checkbox ng-model="newRole.permissions['event_vehicle.update']">Update</label>
                                            <label class="btn btn-sm btn-success" uib-btn-checkbox ng-model="newRole.permissions['event_vehicle.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-warning" uib-btn-checkbox ng-model="newRole.permissions['role.show']">View</label>
                                            <label class="btn btn-sm btn-warning" uib-btn-checkbox ng-model="newRole.permissions['role.store']">Create</label>
                                            <label class="btn btn-sm btn-warning" uib-btn-checkbox ng-model="newRole.permissions['role.update']">Update</label>
                                            <label class="btn btn-sm btn-warning" uib-btn-checkbox ng-model="newRole.permissions['role.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-default" uib-btn-checkbox ng-model="newRole.permissions['user.show']">View</label>
                                            <label class="btn btn-sm btn-default" uib-btn-checkbox ng-model="newRole.permissions['user.update']">Update</label>
                                            <label class="btn btn-sm btn-default" uib-btn-checkbox ng-model="newRole.permissions['user.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <button class="btn btn-success" ng-click="createRole()"><i class="glyphicon glyphicon-plus"></i></button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </uib-accordion-group>
            </uib-accordion-group>
            <uib-accordion-group is-open="true">
                <uib-accordion-heading>
                    <div>Users</div>
                </uib-accordion-heading>
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="search.selectedUser" ng-model-options="{debounce:500}" ng-change="tableParams.reload()">
                    <div class="input-group-btn">
                        <button class="btn btn-danger" ng-click="search.selectedUser = null"><i class="glyphicon glyphicon-remove"></i></button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table ng-table="tableParams" class="table table-condensed margin-top-25" id="role-table">
                        <tr ng-repeat="user in $data">
                            <td title="'Name'" id="role-name">
                                <p class="lead">{{user.username}}</p>
                                <select class="form-control" ng-options="role.id as role.name for role in roles" ng-model="user.roles['0'].pivot.role_id" ng-change="givePermissions(user)">
                                    <option value="" disabled>Role</option>
                                </select>
                            </td>
                            <td title="'Conference'">
                                <div class="btn-group-vertical">
                                    <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="user.permissions['conference.store']">Create</label>
                                    <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="user.permissions['conference.update']">Update</label>
                                    <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="user.permissions['conference.destroy']">Delete</label>
                                </div>
                            </td>
                            <td title="'Attendees'">
                                <div class="btn-group-vertical">
                                    <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="user.permissions['conference_attendee.show']">View</label>
                                    <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="user.permissions['conference_attendee.update']">Update</label>
                                    <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="user.permissions['conference_attendee.destroy']">Delete</label>
                                </div>
                            </td>
                            <td title="'Housing'">
                                <div class="btn-group-vertical">
                                    <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="user.permissions['accommodation.show']">View</label>
                                    <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="user.permissions['accommodation.store']">Create</label>
                                    <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="user.permissions['accommodation.update']">Update</label>
                                    <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="user.permissions['accommodation.destroy']">Delete</label>
                                </div>
                            </td>
                            <td title="'Rooms'">
                                <div class="btn-group-vertical">
                                    <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="user.permissions['room.show']">View</label>
                                    <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="user.permissions['room.store']">Create</label>
                                    <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="user.permissions['room.update']">Update</label>
                                    <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="user.permissions['room.destroy']">Delete</label>
                                </div>
                            </td>
                            <td title="'Inventory'">
                                <div class="btn-group-vertical">
                                    <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="user.permissions['item.show']">View</label>
                                    <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="user.permissions['item.store']">Create</label>
                                    <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="user.permissions['item.update']">Update</label>
                                    <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="user.permissions['item.destroy']">Delete</label>
                                </div>
                            </td>
                            <td title="'Vehicles'">
                                <div class="btn-group-vertical">
                                    <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="user.permissions['conference_vehicle.show']">View</label>
                                    <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="user.permissions['conference_vehicle.store']">Create</label>
                                    <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="user.permissions['conference_vehicle.update']">Update</label>
                                    <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="user.permissions['conference_vehicle.destroy']">Delete</label>
                                </div>
                            </td>
                            <td title="'Event'">
                                <div class="btn-group-vertical">
                                    <label class="btn btn-sm btn-success" uib-btn-checkbox ng-model="user.permissions['event.store']">Create</label>
                                    <label class="btn btn-sm btn-success" uib-btn-checkbox ng-model="user.permissions['event.update']">Update</label>
                                    <label class="btn btn-sm btn-success" uib-btn-checkbox ng-model="user.permissions['event.destroy']">Delete</label>
                                </div>
                            </td>
                            <td title="'Attendees'">
                                <div class="btn-group-vertical">
                                    <label class="btn btn-sm btn-success" uib-btn-checkbox ng-model="user.permissions['event_attendee.show']">View</label>
                                    <label class="btn btn-sm btn-success" uib-btn-checkbox ng-model="user.permissions['event_attendee.update']">Update</label>
                                    <label class="btn btn-sm btn-success" uib-btn-checkbox ng-model="user.permissions['event_attendee.destroy']">Delete</label>
                                </div>
                            </td>
                            <td title="'Vehicles'">
                                <div class="btn-group-vertical">
                                    <label class="btn btn-sm btn-success" uib-btn-checkbox ng-model="user.permissions['event_vehicle.show']">View</label>
                                    <label class="btn btn-sm btn-success" uib-btn-checkbox ng-model="user.permissions['event_vehicle.store']">Create</label>
                                    <label class="btn btn-sm btn-success" uib-btn-checkbox ng-model="user.permissions['event_vehicle.update']">Update</label>
                                    <label class="btn btn-sm btn-success" uib-btn-checkbox ng-model="user.permissions['event_vehicle.destroy']">Delete</label>
                                </div>
                            </td>
                            <td title="'Role'">
                                <div class="btn-group-vertical">
                                    <label class="btn btn-sm btn-warning" uib-btn-checkbox ng-model="user.permissions['role.show']">View</label>
                                    <label class="btn btn-sm btn-warning" uib-btn-checkbox ng-model="user.permissions['role.store']">Create</label>
                                    <label class="btn btn-sm btn-warning" uib-btn-checkbox ng-model="user.permissions['role.update']">Update</label>
                                    <label class="btn btn-sm btn-warning" uib-btn-checkbox ng-model="user.permissions['role.destroy']">Delete</label>
                                </div>
                            </td>
                            <td title="'User'">
                                <div class="btn-group-vertical">
                                    <label class="btn btn-sm btn-default" uib-btn-checkbox ng-model="user.permissions['user.show']">View</label>
                                    <label class="btn btn-sm btn-default" uib-btn-checkbox ng-model="user.permissions['user.update']">Update</label>
                                    <label class="btn btn-sm btn-default" uib-btn-checkbox ng-model="user.permissions['user.destroy']">Delete</label>
                                </div>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-warning" ng-click="updateUserRole(user)"><i class="glyphicon glyphicon-edit"></i></button>
                                    <button class="btn btn-danger" ng-click="deleteUser(user.id)"><i class="glyphicon glyphicon-minus"></i></button>
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="$data.length <= 0">
                            <td col-span="14">
                                <h4>No users found for this query.</h4>
                            </td>
                        </tr>
                    </table>
                </div>
            </uib-accordion-group>
            </uib-accordion>
    </div>
</div>
