#manage-accounts .table-responsive {
    border: 0 !important;
}

#manage-accounts #role-table {
    text-align: center;
}

#manage-accounts #role-table th {
    text-align: center;
    border-bottom: 2px solid #ddd;
}

#manage-accounts #role-table td {
    border: 0;
    padding-top: 10px;
}

#manage-accounts #role-table button {
    min-width: 45px;
}

#manage-accounts #role-table th:first-child,
#manage-accounts #role-table td:first-child {
    text-align: left !important;
    min-width: 200px;
}