<div id="manage-accounts">
    <div class="container-fluid">
        <h1 class="page-header">Manage Accounts</h1>
        <uib-accordion>
            <uib-accordion-group>
                <uib-accordion-heading>
                    <div>Roles</div>
                </uib-accordion-heading>
                <uib-accordion>
                    <uib-accordion-group ng-repeat="role in roles">
                        <uib-accordion-heading>
                            <div>{{role.name}}</div>
                        </uib-accordion-heading>
                        <div class="table-responsive">
                            <table class="table table-condensed" id="role-table">
                                <tr>
                                    <th id="role-name">Role</th>
                                    <th>Conference</th>
                                    <th>Attendees</th>
                                    <th>Housing</th>
                                    <th>Inventory</th>
                                    <th>Transport</th>
                                    <th>Event</th>
                                    <th>Attendees</th>
                                    <th>Transport</th>
                                    <th>Role</th>
                                    <th>Profile</th>
                                    <th>User</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td id="role-name">
                                        <input type="text" class="form-control" ng-model="role.name" placeholder="Role Name">
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['conference.status']">Approve</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['conference.show']">View</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['conference.store']">Create</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['conference.update']">Update</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['conference.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['conferenceAttendees.show']">View</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['conferenceAttendees.update']">Update</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['conferenceAttendees.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['accommodations.show']">View</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['accommodations.store']">Create</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['accommodations.update']">Update</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['accommodations.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['inventory.show']">View</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['inventory.store']">Create</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['inventory.update']">Update</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['inventory.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['conferenceVehicles.show']">View</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['conferenceVehicles.store']">Create</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['conferenceVehicles.update']">Update</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['conferenceVehicles.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['event.status']">Approve</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['event.show']">View</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['event.store']">Create</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['event.update']">Update</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['event.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['eventAttendees.show']">View</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['eventAttendees.update']">Update</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['eventAttendees.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['eventVehicles.show']">View</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['eventVehicles.store']">Create</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['eventVehicles.update']">Update</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['eventVehicles.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['role.show']">View</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['role.store']">Create</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['role.update']">Update</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['role.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['profile.show']">View</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['profile.update']">Update</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['profile.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['user.update']">Update</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <button class="btn btn-warning" ng-click="updateRole(role)"><i class="glyphicon glyphicon-edit"></i></button>
                                            <button class="btn btn-danger" ng-click="deleteRole(role.id)"><i class="glyphicon glyphicon-minus"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </uib-accordion-group>
                    <uib-accordion-group>
                        <uib-accordion-heading>
                            <div><i class="glyphicon glyphicon-plus"></i> Add a new role</div>
                        </uib-accordion-heading>
                        <div class="table-responsive">
                            <table class="table table-condensed" id="role-table">
                                <tr>
                                    <th id="role-name">Role</th>
                                    <th>Conference</th>
                                    <th>Attendees</th>
                                    <th>Housing</th>
                                    <th>Inventory</th>
                                    <th>Transport</th>
                                    <th>Event</th>
                                    <th>Attendees</th>
                                    <th>Transport</th>
                                    <th>Role</th>
                                    <th>Profile</th>
                                    <th>User</th>
                                    <th>&nbsp</th>
                                </tr>
                                <tr>
                                    <td id="role-name">
                                        <input class="form-control" ng-model="newRole.name" placeholder="Role name">
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['conference.status']">Approve</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['conference.show']">View</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['conference.store']">Create</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['conference.update']">Update</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['conference.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['conferenceAttendees.show']">View</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['conferenceAttendees.update']">Update</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['conferenceAttendees.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['accommodations.show']">View</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['accommodations.store']">Create</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['accommodations.update']">Update</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['accommodations.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['inventory.show']">View</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['inventory.store']">Create</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['inventory.update']">Update</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['inventory.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['conferenceVehicles.show']">View</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['conferenceVehicles.store']">Create</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['conferenceVehicles.update']">Update</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['conferenceVehicles.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['event.status']">Approve</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['event.show']">View</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['event.store']">Create</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['event.update']">Update</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['event.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['eventAttendees.show']">View</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['eventAttendees.update']">Update</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['eventAttendees.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['eventVehicles.show']">View</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['eventVehicles.store']">Create</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['eventVehicles.update']">Update</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['eventVehicles.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['newRole.show']">View</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['newRole.store']">Create</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['newRole.update']">Update</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['newRole.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['profile.show']">View</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['profile.update']">Update</label>
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['profile.destroy']">Delete</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['user.update']">Update</label>
                                        </div>
                                    </td>
                                    <td>
                                        <button class="btn btn-success" ng-click="createRole()"><i class="glyphicon glyphicon-plus"></i></button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </uib-accordion-group>
            </uib-accordion-group>
            <uib-accordion-group>
                <uib-accordion-heading>
                    <div>Users</div>
                </uib-accordion-heading>
                <button type="button" class="btn btn-link" ng-click="reset()">RESET</button>
                <select name="conferenceSelect" class="form-control" ng-options="index as con.name for (index, con) in conferences" ng-model="selectedConference" ng-change="changeConference()"></select>
                <select name="eventSelect" class="form-control" ng-options="event.eventId as event.name for event in events" ng-model="selectedEvent" ng-change="changeEvent()"></select>
                <input type="search" class="form-control" placeholder="Search for Account" ng-model="search">
                <table class="table table-condensed">
                    <tr>
                        <th>Username</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Role</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="user in users track by $index">
                        <td>{{user.username}}</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>
                            <select ng-options="role.id as role.name for role in roles" ng-model="selectedRole[$index]"></select>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-warning" ng-click="updateUserRole(user.id, selectedRole[$index])"><i class="glyphicon glyphicon-edit"></i></button>
                                <button class="btn btn-danger" ng-click="deleteUser(user.id)"><i class="glyphicon glyphicon-minus"></i></button>
                            </div>
                        </td>
                        <!-- <td>
                                    <div class="btn-group-vertical">
                                        <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['conference.status']">Approve</label>
                                        <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['conference.show']">View</label>
                                        <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['conference.store']">Create</label>
                                        <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['conference.update']">Update</label>
                                        <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="role.permissions['conference.destroy']">Delete</label>
                                    </div>
                                </td>
                                    <div class="btn-group-vertical">
                                        <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['newRole.show']">View</label>
                                        <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['newRole.store']">Create</label>
                                        <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['newRole.update']">Update</label>
                                        <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['newRole.destroy']">Delete</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn-group-vertical">
                                        <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['profile.show']">View</label>
                                        <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['profile.update']">Update</label>
                                        <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['profile.destroy']">Delete</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn-group-vertical">
                                        <label class="btn btn-sm btn-primary" uib-btn-checkbox ng-model="newRole.permissions['user.update']">Update</label>
                                    </div>
                                </td> -->
                        <td ng-show="conferenceSpecific">
                            <div class="btn-group">
                                <label class="btn btn-primary" uib-btn-checkbox ng-model="acc.permissions.conferenceEdit"><i class="glyphicon glyphicon-pencil"></i></label>
                                <label class="btn btn-primary" uib-btn-checkbox ng-model="acc.permissions.conferenceAccommodations"><i class="glyphicon glyphicon-home"></i></label>
                                <label class="btn btn-primary" uib-btn-checkbox ng-model="acc.permissions.conferenceTransport"><i class="glyphicon glyphicon-road"></i></label>
                                <label class="btn btn-primary" uib-btn-checkbox ng-model="acc.permissions.conferenceInventory"><i class="glyphicon glyphicon-briefcase"></i></label>
                                <label class="btn btn-primary" uib-btn-checkbox ng-model="acc.permissions.conferenceAttendee"><i class="glyphicon glyphicon-user"></i></label>
                            </div>
                        </td>
                        <td ng-hide="!conferenceSpecific || eventSpecific">
                            <input type="checkbox" ng-model="acc.permissions.event">
                        </td>
                        <td ng-show="eventSpecific">
                            <div class="btn-group">
                                <label class="btn btn-primary" uib-btn-checkbox ng-model="acc.permissions.eventEdit"><i class="glyphicon glyphicon-pencil"></i></label>
                                <label class="btn btn-primary" uib-btn-checkbox ng-model="acc.permissions.eventTransport"><i class="glyphicon glyphicon-road"></i></label>
                                <label class="btn btn-primary" uib-btn-checkbox ng-model="acc.permissions.eventAttendee"><i class="glyphicon glyphicon-user"></i></label>
                            </div>
                        </td>
                    </tr>
                </table>
            </uib-accordion-group>
            </uib-accordion>
    </div>
</div>
