<script type="text/ng-template" id="passwordPopoverTemplate.html">
    <ul class="list-unstyled">
        <li ng-repeat="require in passwordPopover">
            {{require}}
        </li>
    </ul>
</script>
<div class="modal-header">
	<div class="modal-title">Reset Password</div>
</div>
<div class="modal-body">
	<form name="resetPasswordForm">
		<div class="form-group" ng-class="{'has-error': resetPasswordForm.password.$error.password}">
			<label class="control-label">New Password</label>
			<input class="form-control" type="password" name="password" ng-model="password" ng-model-options="{debounce: 500}" uib-popover-template="'passwordPopoverTemplate.html'" popover-trigger="focus" popover-placement="bottom" password></input>
			<uib-alert class="input-alert" type="danger">Invalid Password!<i class="pull-right glyphicon glyphicon-exclamation-sign"></i></uib-alert>
		</div>
		<div class="form-group" ng-class="{'has-error': resetPasswordForm.confirm.$error.password}">
			<label class="control-label">Confirm Password</label>
			<input class="form-control" type="password" name="confirm" ng-model="confirm" ng-model-options="{debounce: 500}" password></input>
			<uib-alert class="input-alert" type="danger">Invalid Password!<i class="pull-right glyphicon glyphicon-exclamation-sign"></i></uib-alert>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-success" ng-click="save()">Save</button>
	<button class="btn btn-default" ng-click="close()">Close</button>
</div>