<div id="requests" class="container has-header">
  <h1 class="page-header">Publish Requests</h1>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-md-6">
        <h3 class="text-center">Conference Publish Requests</h3>
        <hr>
        <!-- Requests -->
        <div class="col-sm-12" ng-if="conferences" ng-repeat="con in conferences">
          <div class="col-sm-12">
            <div class="card">
              <h3 class="card-header">{{con.name}} Conference</h3>
              <div class="card-block">
                <h5 class="card-text">Location: {{con.city}},{{con.country}}</h5>
                <h5 class="card-text">Start: {{con.start_date}}</h5>
                <h5 class="card-text">End: {{con.end_date}}</h5>
                <button class="btn btn-primary btn-sm" ng-click="viewConferenceApplication($index)">View Application</button>
                <div class="pull-right">
                  <button class="btn btn-success btn-sm" ng-click="publishConference($index)">Publish</button>
                  <button class="btn btn-danger btn-sm" ng-click="declineConference($index)">Decline</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-show="!conferences.length && events.length" class="row">
          <h4 class="text-center">No new conferences to publish</h4>
          <hr>
        </div>
      </div>
      <div class="col-md-6">
        <h3 class="text-center">Event Publish Requests</h3>
        <hr>
        <!-- Requests -->
        <div class="col-sm-12" ng-if="events" ng-repeat="eve in events">
          <div class="col-sm-12">
            <div class="card">
              <h3 class="card-header">{{eve.name}} Event</h3>
              <div class="card-block">
                <h4 class="card-text">Facilitator: {{eve.facilitator}}</h4>
                <h5 class="card-text">From: {{eve.start_time}} to {{eve.end_time}}</h5>
                <h5 class="card-text">Date: {{eve.date}}</h5>
                <button class="btn btn-primary btn-sm" ng-click="viewEventApplication($index)">View Application</button>
                <div class="pull-right">
                  <button class="btn btn-success btn-sm" ng-click="publishEvent($index)">Publish</button>
                  <button class="btn btn-danger btn-sm" ng-click="declineEvent($index)">Decline</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-show="!events.length && conferences.length" class="row">
          <h4 class="text-center">No new events to publish</h4>
          <hr>
        </div>
      </div>
      <div ng-show="!conferences.length && !events.length" class="row">
        <h4 class="text-center">No new conferences or events to publish</h4>
        <hr>
      </div>
    </div>
  </div>
</div>
