<div id="signupConf" class="container has-header">
    <h1 class="page-header text-center">Sign Up for the {{conference.name}}</h1>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-6">
                <h3 class="text-center">Profile </h3>
                <hr>
                <!-- Profile -->
                <form role="form" class="form-horizontal">
                    <div class="form-group">
                        <label for="c-signup-first-name" class="col-sm-3 control-label">First Name: </label>
                        <div class="col-sm-8">
                            <input class="form-control" id="c-signup-first-name" placeholder="First Name" ng-model="user.FirstName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="c-signup-middle-name" class="col-sm-3 control-label">Middle Name: </label>
                        <div class="col-sm-8">
                            <input class="form-control" id="c-signup-middle-name" placeholder="Middle Name" ng-model="user.MiddleName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="c-signup-last-name" class="col-sm-3 control-label">Last Name: </label>
                        <div class="col-sm-8">
                            <input class="form-control" id="c-signup-last-name" placeholder="Last Name" ng-model="user.LastName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="c-signup-birthdate" class="col-sm-3 control-label">Birthdate</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input type="text" class="form-control" id="c-signup-birthdate" ng-model="user.Birthdate" uib-datepicker-popup="yyyy-MM-dd" is-open="calendar.isOpen" placeholder="YYYY-MM-DD">
                                <span class="input-group-btn">
                  <button class="btn btn-link" type="button" ng-click="calendar.isOpen = !calendar.isOpen">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group dropdown">
                        <label for="c-signup-gender" class="col-sm-3 control-label">Gender: </label>
                        <div class="col-sm-8">
                            <select class="form-control" id="c-signup-gender" ng-model="user.Gender">
                                <option value="" disabled>Select a gender ...</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="c-signup-country" class="col-sm-3 control-label">Country: </label>
                        <div class="col-sm-8">
                            <input class="form-control" id="c-signup-country" placeholder="Country" ng-model="user.Country">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="c-signup-city" class="col-sm-3 control-label">City: </label>
                        <div class="col-sm-8">
                            <input class="form-control" id="c-signup-city" placeholder="City" ng-model="user.City">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="c-signup-home-phone" class="col-sm-3 control-label">Home Phone: </label>
                        <div class="col-sm-8">
                            <input class="form-control" type="number" id="c-signup-home-phone" placeholder="Home Phone #" ng-model="user.HomePhone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="c-signup-mobile-phone" class="col-sm-3 control-label">Mobile Phone: </label>
                        <div class="col-sm-8">
                            <input class="form-control" type="number" id="c-signup-mobile-phone" placeholder="Mobile Phone #" ng-model="user.OtherPhone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="c-signup-email" class="col-sm-3 control-label">Email: </label>
                        <div class="col-sm-8">
                            <input class="form-control" type="email" id="c-signup-email" placeholder="Email" ng-model="user.Email">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <h3 class="text-center">Emergency Contact</h3>
                <hr>
                <!-- Emergency Contact Form -->
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="c-signup-ec-first-name" class="col-sm-3 control-label">First Name: </label>
                        <div class="col-sm-8">
                            <input class="form-control" id="c-signup-ec-first-name" placeholder="First Name" ng-model="emergencyContact.FirstName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="c-signup-ec-middle-name" class="col-sm-3 control-label">Middle Name: </label>
                        <div class="col-sm-8">
                            <input class="form-control" id="c-signup-ec-middle-name" placeholder="Middle Name" ng-model="emergencyContact.MiddleName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="c-signup-ec-last-name" class="col-sm-3 control-label">Last Name: </label>
                        <div class="col-sm-8">
                            <input class="form-control" id="c-signup-ec-last-name" placeholder="Last Name" ng-model="emergencyContact.LastName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="c-signup-ec-phone" class="col-sm-3 control-label">Phone: </label>
                        <div class="col-sm-8">
                            <input class="form-control" type="number" id="c-signup-ec-phone" placeholder="Phone #" ng-model="emergencyContact.Phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="c-signup-ec-email" class="col-sm-3 control-label">Email: </label>
                        <div class="col-sm-8">
                            <input class="form-control" type="email" id="c-signup-ec-email" placeholder="Email" ng-model="emergencyContact.Email">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Addition of multiple family members -->
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-sm-12">
                <h2>Family Members</h2>
                <hr>
                <fieldset data-ng-repeat="family in familymembers">
                    <div>
                        <div class="col-sm-2 form-group">
                            <input type="text" class="col-xs-2 form-control" id="inputUser" placeholder="First Name" ng-model="family.FirstName">
                        </div>
                        <div class="col-sm-2 form-group">
                            <input type="text" class="col-xs-2 form-control" id="inputUser" placeholder="Middle Name" ng-model="family.MiddleName">
                        </div>
                        <div class="col-sm-2 form-group">
                            <input type="text" class="col-xs-2  form-control" id="inputUser" placeholder="Last Name" ng-model="family.LastName">
                        </div>
                        <div class="col-sm-1 form-group">
                            <input type="text" class="col-xs-2 form-control" id="inputUser" placeholder="Age" ng-model="family.Age">
                        </div>
                        <div class="col-sm-2 form-group">
                            <input type="text" class="col-xs-2 form-control" id="inputUser" placeholder="Country" ng-model="family.Country">
                        </div>
                        <div class="col-sm-2 form-group">
                            <input type="text" class="col-xs-2  form-control" id="inputUser" placeholder="City" ng-model="family.City">
                        </div>
                        <div class="col-sm-1 form-group">
                            <button class="btn btn-danger btn-md" ng-click="removeFamilyMember($index)">Remove</button>
                        </div>
                    </div>
                </fieldset>
                <button class="btn btn-primary btn-md" ng-click="addFamilyMember()">Add Member</button>
            </div>
        </div>
    </div>
    <!-- Transportation -->
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>Transportation Information</h2>
            <div class="col-sm-6">
                <h3 class="text-center">Arrival Information</h3>
                <hr>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputUser" class="col-sm-3 control-label">Ride Required</label>
                        <div class="radio-inline col-sm-2 control-label">
                            <input type="radio" ng-model="arrival.RideRequired" value="true">Yes</label>
                        </div>
                        <div class="radio-inline col-sm-2 control-label">
                            <input type="radio" ng-model="arrival.RideRequired" value="false">No</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputUser" class="col-sm-3 control-label">Airline #</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="inputUser" placeholder="Airline #" ng-model="arrival.AirlineNumber">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputUser" class="col-sm-3 control-label">Airport</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="inputUser" placeholder="Airport" ng-model="arrival.Airport">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="departureDate" class="col-sm-3 control-label">Arrival Date</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="arrival.ArrivalDate" uib-datepicker-popup="yyyy-MM-dd" is-open="calendar.isOpen" placeholder="YYYY-MM-DD">
                                <span class="input-group-btn">
                                    <button class="btn btn-link" type="button" ng-click="calendar.isOpen = !calendar.isOpen">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputUser" class="col-sm-3 control-label">Arrival Time</label>
                        <div class="col-sm-8">
                            <input type="time" class="form-control" id="inputUser" placeholder="Arrival Time" ng-model="arrival.ArrivalTime">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-6">
                <h3 class="text-center">Departure Information</h3>
                <hr>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputUser" class="col-sm-3 control-label">Ride Required</label>
                        <div class="radio-inline col-sm-2 control-label">
                            <input type="radio" ng-model="departure.RideRequired" value="true">Yes</label>
                        </div>
                        <div class="radio-inline col-sm-2 control-label">
                            <input type="radio" ng-model="departure.RideRequired" value="false">No</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputUser" class="col-sm-3 control-label">Airline #</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="inputUser" placeholder="Airline #" ng-model="departure.AirlineNumber">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputUser" class="col-sm-3 control-label">Airport</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="inputUser" placeholder="Airport" ng-model="departure.Airport">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="departureDate" class="col-sm-3 control-label">Departure Date</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="arrival.ArrivalDate" uib-datepicker-popup="yyyy-MM-dd" is-open="calendar.isOpen" placeholder="YYYY-MM-DD">
                                <span class="input-group-btn">
                                    <button class="btn btn-link" type="button" ng-click="calendar.isOpen = !calendar.isOpen">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputUser" class="col-sm-3 control-label">Departure Time</label>
                        <div class="col-sm-8">
                            <input type="time" class="form-control" id="inputUser" placeholder="Departure Time" ng-model="departure.ArrivalTime">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>Accommodation and Medical Information</h2>
            <div class="col-sm-6">
                <h3 class="text-center">Accommodation</h3>
                <hr>
                <div class="form-group">
                    <div class="radio col-sm-offset-4 control-label">
                        <label>
                            <input type="radio" ng-model="accommodation.type" ng-value="Hotel">Hotel</label>
                    </div>
                    <div class="radio col-sm-offset-4 control-label">
                        <label>
                            <input type="radio" ng-model="accommodation.type" value="House">House</label>
                    </div>
                    <div class="radio col-sm-offset-4 control-label">
                        <label>
                            <input type="radio" ng-model="accommodation.type" value="None">None Required</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <h3 class="text-center">Medical Conditions</h3>
                <hr>
                <div class="form-group">
                    <textarea class="form-control" rows="3" id="comment" placeholder="Condition(s) and any special requests" ng-model="medical.Condition"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-half-block btn-success center-block">Submit Request</button>
            </div>
        </div>
    </div>
</div>
