<div id="inventory" class="container has-header">
  <h1 id="title">Inventory</h1>
  <!-- Addition of Inventory -->
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-md-12">
        <fieldset id="item" data-ng-repeat="item in items">
          <div>
            <div class="col-md-4 col-md-offset-2 form-group">
              <input type="text" class="form-control" id="inputUser" placeholder="Enter Item" ng-model="item.Name">
            </div>

            <div class="col-sm-4 form-group">
              <input type="text" class="form-control" id="inputUser" placeholder="Enter Quantity" ng-model="item.Quantity">
            </div>

            <div class="col-md-2 form-group">
              <button class="btn btn-danger btn-md" ng-click="removeItem($index)">
                <span class="glyphicon glyphicon-minus">
                </button>
              </div>
            </div>
          </fieldset>
          <div class="col-md-4 col-md-offset-2">
            <button class="btn btn-primary btn-md" id="add" ng-click="addItem()">
              <span class="glyphicon glyphicon-plus">
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-4">
            <button type="submit" class="btn btn-half-block btn-primary center-block" ng-click="export()">Export</button>
          </div>
          <div class="col-md-4">
            <button type="submit" class="btn btn-half-block btn-success center-block" ng-click="saveChanges()">Save</button>
          </div>
          <div class="col-md-4">
            <button type="submit" class="btn btn-half-block btn-danger center-block" ng-click="cancel()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
