<div id="inventory" class="container has-header">
  
  <div class="container">
    <h1>Inventory for {{conferenceId}}</h1>
  </div>

  <div class="panel panel-default margin-top-25">
    <div class="panel-body">

      <table ng-table="tableParams" class="table table-condensed table-bordered table-striped margin-top-25" show-filter="true">
        <tr ng-repeat="i in $data">
          <td title="'Item'" filter="{ 'name': 'text'}" sortable="'name'">
            {{i.name}}
          </td>
          <td title="'Quantity'" filter="{ 'quantity': 'number'}" sortable="'quantity'">
            {{i.quantity}}
          </td>
          <td title="'Change Quantity'">
            <input type="number" ng-model="it.quantity" class="editable-input form-control input-sm" required />
          </td>

          <td>
            <button class="btn btn-sm btn-default" ng-disabled="!it.quantity" ng-click="updateQuantity(i, it.quantity)">
              Update
            </button>
            <button class="btn btn-danger" ng-click="del(i.id)">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
            </td>
          </tr>

          <td title="'Item'">
            <input type="text" ng-model="item.name" class="editable-input form-control input-sm" required />
          </td>
          <td title="'Quantity'">
            <input type="number" ng-model="item.quantity" class="editable-input form-control input-sm" required />
          </td>
          <td></td>
          <td>
            <!-- Disable add buttion unless theres values in the input-->
          <button type="button" class="btn btn-success" ng-disabled="!item.name || !item.quantity" ng-click="add(item)">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </td>
      </table>

      <div class="pull-right">
        <button class="btn btn-success" ng-show="hasChanges" ng-click="save()">
          <span class="glyphicon glyphicon-ok"></span>
          Save
        </button>
        <button class="btn btn-default" ng-show="hasChanges" ng-click="cancel()">
          <span class="glyphicon glyphicon-remove"></span>
          Cancel
        </button>
         <button class="btn btn-info" ng-click="export()">
          <span class="glyphicon glyphicon-download"></span>
          Export
        </button>
      </div>
    </div>
  </div>
</div>
