/* Displays with width smaller than 1280px */
@media (max-width: 1280px) {
  .banner {
    background-attachment: scroll !important;
    padding: 10em 0 18em 0 !important;
  }
  .body-container {
    width: 70em !important;
  }
}

/* Displays with width smaller than 1080px */
@media (max-width: 1080px) { 
  .body-container {
    width: 90% !important;
  }
  .input-xxlg {
    font-size: 50px !important;
    height: 60px !important;
    width: 100% !important;
  }
  .input-xlg {
    font-size: 22px !important;
    height: 40px !important;
    width: 100% !important;
  }
  .jumbo-container .input-group {
    max-width: 135px !important;
  }
  .jumbo-container input[type="custom-date"] {
    width: 130px !important;
  }
  .textarea-xlg {
    font-size: 22px !important;
    width: 100% !important;
  }
  .input-dates {
    font-size: 22px !important;
  }
}

/* Displays with width smaller than 768px */
@media (max-width: 768px) {
  h1 {
    font-size: 30px !important;
  }
  .input-xxlg {
    font-size: 45px !important;
    height: 55px !important;
    width: 100% !important;
  }
  .input-xlg {
    font-size: 18px !important;
    height: 30px !important;
    width: 100% !important;
  }
  .textarea-xlg {
    font-size: 18px !important;
    width: 100% !important;
  }
  .input-dates {
    font-size: 18px !important;
    width: 100% !important;
  }
  .jumbo-container .input-group {
    max-width: 115px !important;
  }
  .jumbo-container input[type="custom-date"] {
    width: 110px !important;
  }
  .banner {
    padding: 5em 1em 4em 1em !important;
    background-attachment: scroll !important;
    width: 100% !important;
  }
  .body-container {
    padding: 0 !important;
    margin-top: 0 !important;
    width: 100% !important;
  }
}

/* Displays with width smaller than 500px */
@media (max-width: 520px) {
  .visible-xxs {
    display: block !important;
  }
  .hidden-xxs {
    display: none !important;
  }
}

/* Displays with width smaller than 480px */
@media (max-width: 480px) {
  h1 {
    font-size: 25px !important;
  }
  .input-xxlg {
    font-size: 30px !important;
    height: 40px !important;
    width: 100% !important;
  }
  .input-xlg {
    font-size: 15px !important;
    height: 30px !important;
    width: 100% !important;
  }
  .textarea-xlg {
    font-size: 15px !important;
    width: 100% !important;
  }
  .input-dates {
    font-size: 15px !important;
    width: 100% !important;
    height: 30px !important;
  }
  .jumbo-container .input-group {
    max-width: 90px !important;
  }
  .jumbo-container input[type="custom-date"] {
    width: 90px !important;
    height: 25px !important;
  }
  .banner {
    padding: 5em 1em 4em 1em !important;
    background-attachment: scroll !important;
    width: 100% !important;
  }
  .jumbo-container {
    padding: 1em !important;
  }
  .body-container {
    padding: 0 !important;
    margin-top: 0 !important;
    width: 100% !important;
  }
  .input-group {
    width: 110px !important;
  }
  .box {
    padding: 1em !important;
  }
}

body {
  background-color: #f5f5f5;
  overflow-y: scroll;
}

.hidden-xxs {
  display: block;
}

.visible-xxs {
  display: none;
}

.padding-top-5 {
  padding-top: 5px;
}

.banner {
  background-color: #666;
  background-position: top left, center center;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
  color: #fff;
  text-shadow: 1px 1px 2px black;
  text-align: center;
  padding: 10em 0 20em 0;
}

.body-container {
  margin-top: -14em;
  padding: 4em 0;
  width: 80em;
  margin-left: auto;
  margin-right: auto;
}

.body-container .box {
  background-color: white;
  box-shadow: 0 2px 2px 0 #e5e5e5;
  padding: 4em;
  margin: 0 0 2em 0;
  width: 100%;
  border-radius: 3px;
}

/* Bootswatch Paper theme input */
.jumbo-container input[type="text"],
.jumbo-container textarea,
.jumbo-container input[type="custom-date"] {
  border: medium none;
  padding: 0px;
  border-radius: 0px;
  text-shadow: 1px 1px 2px black !important;
  background-color: transparent;
  background-image: none;
  width: 100%;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  -webkit-box-shadow: inset 0 -1px 0 #ffffff;
  box-shadow: inset 0 -1px 0 #ffffff;
  resize: none;
}

.jumbo-container input[type="custom-date"] {
  color: white !important;
  width: 150px;
}

.jumbo-container input:read-only,
.jumbo-container textarea:read-only {
  box-shadow: none;
}

.jumbo-container input:-moz-read-only,
.jumbo-container textarea:-moz-read-only {
  box-shadow: none;
}

.input-dates {
  font-size: 24px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.input-dates .input-group {
  max-width: 180px;
}

.input-xxlg {
  font-size: 60px;
  height: 70px;
}

.input-xlg {
  font-size: 24px;
  height: 40px;
}

.textarea-xlg {
  font-size: 24px;
}

.has-header {
  margin-top: 50px;
}

.card {
  position: relative;
  display: block;
  margin-bottom: .75rem;
  background-color: #fff;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}

.card-block {
  padding: 1.25rem;
}

.card-title {
  margin-bottom: .75rem;
}

.card-subtitle {
  margin-top: -.375rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card > .list-group:first-child .list-group-item:first-child {
  border-radius: .25rem .25rem 0 0;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-radius: 0 0 .25rem .25rem;
}

.card-header {
  padding: .75rem 1.25rem;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
}

.card-header:first-child {
  border-radius: .25rem .25rem 0 0;
}

.card-footer {
  padding: .75rem 1.25rem;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
}

.card-footer:last-child {
  border-radius: 0 0 .25rem .25rem;
}

.card-primary {
  background-color: #0275d8;
  border-color: #0275d8;
}

.card-success {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.card-info {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.card-warning {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.card-danger {
  background-color: #d9534f;
  border-color: #d9534f;
}

.card-primary-outline {
  background-color: transparent;
  border-color: #0275d8;
}

.card-secondary-outline {
  background-color: transparent;
  border-color: #ccc;
}

.card-info-outline {
  background-color: transparent;
  border-color: #5bc0de;
}

.card-success-outline {
  background-color: transparent;
  border-color: #5cb85c;
}

.card-warning-outline {
  background-color: transparent;
  border-color: #f0ad4e;
}

.card-danger-outline {
  background-color: transparent;
  border-color: #d9534f;
}

.card-inverse {
  background-color: #1976D2;
}

.card-inverse .card-header,
.card-inverse .card-footer {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.card-inverse .card-header,
.card-inverse .card-footer,
.card-inverse .card-title,
.card-inverse .card-blockquote {
  color: #fff;
}

.card-inverse .card-link,
.card-inverse .card-text,
.card-inverse .card-blockquote > footer {
  color: rgba(255, 255, 255, .65);
}

.card-inverse .card-link:focus,
.card-inverse .card-link:hover {
  color: #fff;
}

.card-blockquote {
  padding: 0;
  margin-bottom: 0;
  border-left: 0;
}

.card-img {
  border-radius: .25rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-img-top {
  border-radius: .25rem .25rem 0 0;
}

.card-img-bottom {
  border-radius: 0 0 .25rem .25rem;
}

.card-title,
.card-subtitle {
  margin-top: 0px !important;
  color: white !important;
  text-shadow: 1px 1px 2px black !important;
  margin-bottom: 10px;
}

.jumbotron {
  margin-top: 0px;
  color: white;
  text-shadow: 1px 1px 2px black !important;
  height: 600px;
  box-shadow: 0px 1px 2px black;
  overflow: hidden;
}

.jumbotron h1 {
  margin-top: 0px;
}

.navbar-right {
  margin-right: 0px !important;
}

.btn-half-block {
  display: block;
  width: 40%;
}

.btn-sm-block {
  display: block;
  width: 30%;
}

.jumbo-container {
  text-align: left;
  position: relative;
  padding: 4em;
}

.btn-container {
  position: relative;
}

.attendance {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 130px;
}

.attend-leave:hover {
  color: #FFF;
  background-color: #D9534F;
  border-color: #D43F3A;
}

.leave {
  display: none;
}

.attendance:hover .attending {
  display: none;
}

.attendance:hover .leave {
  display: inline;
}

.btn-container .edit-btn {
  position: absolute;
  left: 0;
}

.upcoming {
  margin-left: 15px;
}

.form-flex {
  display: flex;
  justify-content: flex-start;
}

.image-error {
  display: none !important;
}