<div id="transportation">
	<div class="container">
		<div ng-if="conferenceId != null">
         	<h1>Transportation for {{conference.name}}</h1>
      	</div>
      	<div ng-if="eventId != null">
         	<h1>Transportation for {{event.name}}</h1>
      	</div>
	</div>

	<div ng-repeat="d in data" ng-init="parent = $index">
		<div class="panel panel-default margin-top-25">
	      	<div class="panel-body">

				<div uib-accordion class="container" id="vehicles" close-others="false">
					<div ng-if="parent == 0"><h3>Arrivals</h3></div>
					<div ng-if="parent == 1"><h3>Departures</h3></div>
					<uib-accordion-group ng-repeat="v in d">
						<uib-accordion-heading is-open="isCollapsed">
							<div class="row">
								<div class="col-md-3">
									<p>Vehicle Type</p>
									<pre>{{v.name}}</pre>
								</div>
								<div class="col-md-2">
									<p>Passengers</p>
									<pre>{{v.passenger_count}}</pre>
								</div>
								<div class="col-md-2">
									<p>Capacity</p>
									<pre>{{v.capacity}}</pre>
								</div>
								<div class="col-md-5">
									<div ng-if="conferenceId != null">
										<div class="row pull-right margin-right-25 margin-top-25">
											<button class="btn btn-danger" ng-click="del(v, parent, $index, $event)">
		                           				<span class="glyphicon glyphicon-trash"></span>
		                     				</button>
	                     					<button button class="btn btn-sm btn-info" ng-csv="v.attendees" csv-header="['Name']" filename="Conference-{{conference.name}}-Vehicle-{{v.name}}-Capacity-{{v.capacity}}.csv">
          										<span class="glyphicon glyphicon-download"></span>
          										Export
        									</button>
      									</div>
      								</div>
      								<div ng-if="eventId != null">
      									<div class="row pull-right margin-right-25 margin-top-25">
											<button class="btn btn-danger" ng-click="del(v, parent, $index, $event)">
		                           				<span class="glyphicon glyphicon-trash"></span>
		                     				</button>
	                     					<button button class="btn btn-sm btn-info" ng-csv="v.attendees" csv-header="['Name']" filename="Event-{{event.name}}-Vehicle-{{v.name}}-Capacity-{{v.capacity}}.csv">
          										<span class="glyphicon glyphicon-download"></span>
          										Export
        									</button>
      									</div>
			              			</div>
								</div>
							</div>
						</uib-accordion-heading>

						<div ng-if="v.attendees.length">
							<div class="row" ng-repeat="a in v.attendees" ng-if="parent == 0">
								<div class="col-md-2">
									<label>{{a.first_name}} {{a.last_name}}</label>
					            </div>
					            <div class="col-md-2">
									<label>{{a.arrv_airport}}</label>
					            </div>
					            <div class="col-md-2">
									<label>{{a.arrv_flight}}</label>
					            </div>
					            <div class="col-md-2">
									<label>{{a.arrv_date}}</label>
					            </div>
					            <div class="col-md-2">
									<label>{{a.arrv_time}}</label>
					            </div>
					            <div class="col-md-2">
					            	<button class="btn btn-sm btn-danger pull-right" ng-click="removeAttendee(v.id, a.id)"><i class="glyphicon glyphicon-remove"></i></button>
					            </div>
				             </div>

				             <div class="row" ng-repeat="a in v.attendees" ng-if="parent == 1">
								<div class="col-md-2">
									<label>{{a.first_name}} {{a.last_name}}</label>
					            </div>
					            <div class="col-md-2">
									<label>{{a.dept_airport}}</label>
					            </div>
					            <div class="col-md-2">
									<label>{{a.dept_flight}}</label>
					            </div>
					            <div class="col-md-2">
									<label>{{a.dept_date}}</label>
					            </div>
					            <div class="col-md-2">
									<label>{{a.dept_time}}</label>
					            </div>
					            <div class="col-md-2">
					            	<button class="btn btn-sm btn-danger pull-right" ng-click="removeAttendee(v.id, a.id)"><i class="glyphicon glyphicon-remove"></i></button>
					            </div>
				             </div>
			            </div>

			            <div ng-if="!v.attendees.length">
			                <p class="attendees_text">No passengers yet!</p>
			            </div>
					</uib-accordion-group>
				</div>

				<div class="container" id="add-vehicle">
					<div class="row">
						<form name="vehicle">
							<div class="col-md-3">
								<input type="text" class="editable-input form-control input-sm" placeholder="Enter Type of Vehicle" ng-model="vehicle.name" required>
							</div>
							<div class="col-md-2">
								<input type="number" class="editable-input form-control input-sm" placeholder="Max Capacity" ng-model="vehicle.capacity" required>
							</div>
							<div class="col-md-2">
							</div>
							<div class="col-md-5">
								<div class="row pull-right margin-right-25">
									<button class="btn btn-success" id="add" ng-click="add(vehicle, $index)" ng-disabled="!vehicle.name || !vehicle.capacity">
			          					<span class="glyphicon glyphicon-plus">
			        				</button>
			              		</div>
							</div>
						</form>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>