<div id="transportation">
	<div class="container">
		<h1>Transportation</h1>
	</div>

	<div ng-repeat="d in data">
		<div class="panel panel-default margin-top-25">
	      	<div class="panel-body">

				<div uib-accordion class="container" id="vehicles" close-others="false">
					<div ng-if="$index == 0"><h3>Arrivals</h3></div>
					<div ng-if="$index == 1"><h3>Departures</h3></div>
					<uib-accordion-group ng-repeat="v in d">
						<uib-accordion-heading is-open="isCollapsed">
							<div class="row">
								<div class="col-md-3">
									<p>Vehicle Type</p>
									<pre>{{v.name}}</pre>
								</div>
								<div class="col-md-2">
									<p>Passengers</p>
									<pre>{{v.passenger_count}}</pre>
								</div>
								<div class="col-md-2">
									<p>Capacity</p>
									<pre>{{v.capacity}}</pre>
								</div>
								<div class="col-md-5">
									<div class="row pull-right margin-right-25 margin-top-25">
										<button class="btn btn-danger" ng-click="deny(a.id)">
	                           				<span class="glyphicon glyphicon-trash"></span>
	                     				</button>
	                     				<button class="btn btn-sm btn-info" ng-click="export()">
	                  						<span class="glyphicon glyphicon-download"></span>
	                  							Export
	            						</button>
			              			</div>
								</div>
							</div>
						</uib-accordion-heading>
						<div ng-if="v.attendees.length">
			                <div class="attendees" ng-repeat="a in v.attendees">
			                    <div class="row">
			                    	<div class="col-md-12">
										<p>{{$index + 1}}. {{a.name}}</p>
									</div>
			                    </div>
			                    <hr ng-show="!$last">
			                 </div>
			            </div>
			            <div ng-if="!v.attendees.length">
			                <p class="attendees_text">No passengers yet!</p>
			            </div>
					</uib-accordion-group>
				</div>

				<div class="container" id="add-vehicle">
					<div class="row">
						<form name="form">
							<div class="col-md-3">
								<input type="name" class="form-control" placeholder="Enter Type of Vehicle" ng-model="form.name" required>
							</div>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="Max Capacity" ng-model="form.passenger_count" required>
							</div>
							<div class="col-md-2">
							</div>
							<div class="col-md-5">
								<div class="row pull-right margin-right-25">
									<button class="btn btn-success" id="add" ng-click="addVehicle(form)" ng-disabled="form.$invalid">
			          					<span class="glyphicon glyphicon-plus">
			        				</button>
			              		</div>
							</div>
						</form>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>