<div id="activity" class="container has-header">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="page-header">
        <h1 id="timeline">Activity Log</h1>
      </div>
      <ul class="timeline">
        <li class="{{['timeline', 'timeline-inverted'][$index %2]}}" ng-repeat="log in logs | orderBy: '-'">
          <div class="{{['timeline-badge success', 'timeline-badge info'][$index %2]}}"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">{{log.date}}</h4>
            </div>
            <div class="timeline-body">
              <p>user_id: {{log.user_id}}</p>
              <p>source_id: {{log.source_id}}</p>
              <p>source_type: {{log.source_type}}</p>
              <p>profile_id: {{log.profile_id}}</p>
              <p>activity_type: {{log.activity_type}}</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
