<div id="activityLog" class="container has-header">
  <h2 class="text-center">Activity Log</h2>
  <div class="col-sm-12">
      <div id="selection">
        <label>Filter by:</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Conference</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Event</label>
        <label class="checkbox-inline"><input type="checkbox" value="">User</label>
      </div>
    <div class="well">
      <p ng-repeat="log in logs">{{log.Time + "-" + log.Date + "-" + log.Log}}</p>
    </div>
  </div>
</div>
