<div id="conference">
    <div class="banner" back-img="{{background}}">
        <div class="jumbo-container" ng-if="editConference">
            <input type="text" class="input-xxlg" ng-model="conference.name" placeholder="Name">
            <div class="input-dates">
                <div class="input-group">
                    <input type="custom-date" class="form-control input-xlg" uib-datepicker-popup="MMM dd, yyyy" ng-model="conference.startDate" is-open="calendar.isOpen1" placeholder="Start Date">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-link" ng-click="calendar.isOpen1 = !calendar.isOpen1"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>&nbspto &nbsp
                <div class="input-group">
                    <input type="custom-date" class="form-control input-xlg" uib-datepicker-popup="MMM dd, yyyy" ng-model="conference.endDate" is-open="calendar.isOpen2" placeholder="End Date">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-link" ng-click="calendar.isOpen2 = !calendar.isOpen2"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
            <input type="text" class="input-xlg" ng-model="conference.address" placeholder="Address" ng-model-options="{debounce: 800}">
            <input type="text" class="input-xlg" ng-model="conference.city" placeholder="City" ng-model-options="{debounce: 800}">
            <input type="text" class="input-xlg" ng-model="conference.country" placeholder="Country" ng-model-options="{debounce: 800}">
            <input type="number" class="input-xlg" ng-model="conference.capacity" placeholder="Capacity">
            <textarea type="text" class="textarea-xlg" ng-model="conference.description" placeholder="Description" rows="3" wrap="soft"></textarea>
        </div>
        <div class="jumbo-container" ng-if="!editConference">
            <h6 class="input-xxlg">{{conference.name}}</h6>
            <h6 class="input-xlg">{{conference.startDate | date }} to {{conference.endDate | date}}</h6>
            <h6 class="input-xlg">{{conference.address}}</h6>
            <h6 class="input-xlg">{{conference.city}}, {{conference.country}}</h6>
            <h6 class="input-xlg">{{conference.description}}</h6>
        </div>
    </div>
    <div class="body-container">
        <div class="box">
            <div class="btn-container" ng-if="auth && user.permissions['conference.update']">
                <button type="button" class="btn btn-primary no-animate" ng-click="edit()" ng-if="!editConference && auth">
                    <span class="glyphicon glyphicon-edit"></span> Edit
                </button>
                <div ng-if="editConference && auth">
                    <button type="button" class="btn btn-success" ng-click="update()">
                        <span class="glyphicon glyphicon-ok"></span> Save Changes
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="reset()">
                        <span class="glyphicon glyphicon-remove"></span> Cancel
                    </button>
                </div>
            </div>
            <div class="page-header">
                <h1>Events</h1>
                <a type="button" class="btn btn-primary attendance no-animate" ui-sref="conference-signup({conferenceId: conference.id, name: conference.name})" ng-if="auth && !conferenceAttendance">
                    <span class="glyphicon glyphicon-edit"></span>
                    <label> Sign up</label>
                </a>
                <!-- TODO show attending if attendee profile status -->
                <button type="button" class="btn btn-success attendance attend-leave" ng-if="conferenceAttendance">
                    <span class="attending" ng-switch="conferenceAttendance">
                        <span class="glyphicon glyphicon-ok"></span>
                        <label ng-switch-default> Pending</label>
                        <label ng-switch-when="approved"> Approved</label>
                    </span>
                    <span class="leave">
                        <span class="glyphicon glyphicon-remove"></span>
                        <label>leave</label>
                    </span>
                </button>
            </div>
            <div class="row" id="events-container">
                <ng-map class="gmap col-sm-12" center="{{conference.city}} + ',' + {{conference.country}}" zoom="13">
                    <marker ng-repeat="event in events" position="{{event.address}}" animation="DROP"></marker>
                </ng-map>
                <div class="col-sm-12 margin-top-25" ng-if="events">
                    <uib-accordion close-others="false" ng-repeat="event in events track by $index">
                        <uib-accordion-group>
                            <uib-accordion-heading>
                                <div class="accordion-heading">
                                    <h4>{{event.name}}</h4>
                                    <div class="btn-container" ng-if="auth && user.permissions['event.update']">
                                        <div ng-if="editEvent[$index] && auth">
                                            <button type="button" class="btn btn-success" ng-click="updateEvent( event, $index, $event )">
                                                <span class="glyphicon glyphicon-ok"></span> Save Changes
                                            </button>
                                            <button type="button" class="btn btn-danger" ng-click="resetEvent( event, $index, $event )">
                                                <span class="glyphicon glyphicon-remove"></span> Cancel
                                            </button>
                                        </div>
                                        <button type="button" class="btn btn-primary no-animate" ng-click="editEvent(event, $index, $event)" ng-if="!editEvent[$index] && auth">
                                            <span class="glyphicon glyphicon-edit"></span> Edit
                                        </button>
                                    </div>
                                </div>
                            </uib-accordion-heading>
                            <div id="event-details" ng-if="!editEvent[$index]">
                                <h3>{{event.name}}</h3>
                                <h4>{{event.address}}</h4>
                                <h4>{{event.city}}</h4>
                                <h4>{{event.date | date}}</h4>
                                <h4>{{event.start_time | time}} to {{event.end_time | time}}</h4>
                                <h4>{{event.facilitator}}</h4>
                                <h4>{{event.description}}</h4>
                            </div>
                            <div id="event-edit" ng-if="editEvent[$index]">
                                <input type="text" class="input-xlg" ng-model="event.name" required>
                                <input type="text" class="input-lg" ng-model="event.address" placeholder="Address" ng-model-options="{debounce: 800}" g-places-autocomplete required>
                                <input type="text" class="input-lg" ng-model="event.city" placeholder="City" g-places-autocomplete options="citiesOnly" required>
                                <div class="form-inline">
                                    <input type="text" class="form-control input-lg" ng-model="event.start_time" ui-mask="?29:69" required>
                                    <input type="text" class="form-control input-lg" ng-model="event.end_time" ui-mask="?29:69" required>
                                    <div class="input-group">
                                        <input type="custom-date" class="form-control input-lg" uib-datepicker-popup="yyyy-MM-dd" ng-model="event.date" is-open="eventCalendar[$index]" placeholder="Event Date" required>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-link" ng-click="eventCalendar[$index] = !eventCalendar[$index]"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <input type="text" class="input-lg" ng-model="event.facilitator" placeholder="Speaker" required>
                                <div class="row">
                                <label class="col-sm-3"><input type="number" class="input-lg" ng-model="event.capacity" placeholder="Capacity" required></label>
                                <label class="col-sm-3">
                                    <select type="text" class="input-lg" ng-model="event.gender_limit" placeholder="Gender Restriction">
                                        <option value="" disabled>Gender Restriction</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                </label>
                                <label class="col-sm-3"><input type="number" class="input-lg" ng-model="event.age_limit" placeholder="Age Limit"></label>
                                </div>
                                <textarea type="text" class="textarea-lg" ng-model="event.description" rows="3" wrap="soft" placeholder="Event Description"></textarea>
                            </div>
                        </uib-accordion-group>
                        <div class="panel panel-heading accordion-footer">
                            <span ng-if="event.gender_limit">Gender: <strong>{{event.gender_limit}}</strong>&nbsp|&nbsp</span>
                            <span ng-if="event.age_limit">Ages: <strong>{{event.age_limit}}+</strong></span>
                            <span ng-if="!event.age_limit && !event.gender_limit">No restrictions</span>
                            <span>&nbspSeats: <strong>{{event.attendee_count}}/{{event.capacity}}</strong></span>
                            <a type="button" class="btn btn-primary" ui-sref="event-signup({eventId: event.id, name: event.name})" ng-if="auth && !eventAttendance[$index] && conferenceAttendance == 'approved'">
                                <span class="glyphicon glyphicon-edit"></span>
                                <label> Sign Up</label>
                            </a>
                            <button type="button" class="btn btn-success attend-leave" ng-if="eventAttendance[$index]">
                                <span class="attending" ng-switch="eventAttendance[$index]">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    <label ng-switch-default> Pending</label>
                                    <label ng-switch-when="approved"> Approved</label>
                                </span>
                                <span class="leave">
                                    <span class="glyphicon glyphicon-remove"></span>
                                    <label>Leave</label>
                                </span>
                            </button>
                        </div>
                    </uib-accordion>
                </div>
                <h4 class="upcoming" ng-if="events.length <= 0">No events have been registered yet. Sign up for notifications about events for this conference
                    <a href="">here</a>.</h4>
            </div>
            <h1>Services</h1>
            <hr>
            <div class="row">
                <div class="col-sm-3" ng-if="inventory.length > 0">
                    <h4>Supplies</h4>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="item in inventory">{{item.name}}</li>
                    </ul>
                </div>
                <div class="col-sm-3" ng-if="accommodations.length > 0">
                    <h4>Accommodations</h4>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="accom in accommodations">
                            {{accom.name}}
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3" ng-if="arrivalVehicles.length > 0">
                    <h4>Arrival Transportation</h4>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="vehicle in arrivalVehicles">
                            {{vehicle.name}} <span class="badge">{{vehicle.capacity}}</span>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3" ng-if="departVehicles.length > 0">
                    <h4>Departure Transportation</h4>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="vehicle in departVehicles">
                            {{vehicle.name}} <span class="badge">{{vehicle.capacity}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
