@media (max-width: 1280px) {
    #conference .banner {
        padding: 0 0 5em 0 !important;
    }
    #conference .body-container {
        margin-top: -10em !important;
    }
}

@media (max-width: 1080px) { 
  
}

@media (max-width: 768px) {
    #conference .banner {
        padding: 0 0 10em 0 !important;
    }
}

#conference .banner {
    padding: 0 0 10em 0;
}

#conference hr {
    margin-top: 0px;
}

#conference .page-header {
    margin-top: 0px;
    padding-bottom: 0px;
    position: relative;
}

#events-container img {
    width: 100%;
    max-height: 300px;
}
