<div id="conference">
    <div class="jumbotron">
        <div class="jumbo-container">
            <h1>{{conference.name}}</h1>
            <h3>{{conference.city}}, {{conference.country}}</h3>
            <h3>{{conference.startDate}} to {{conference.endDate}}</h3>
            <h3>{{conference.description}}</h3>
            <button type="button" class="btn btn-primary edit">
                <span class="glyphicon glyphicon-edit"></span> Edit
            </button>
            <button type="button" class="btn btn-success btn-lg attendance">
                <span class="glyphicon glyphicon-ok"></span> Attend
            </button>
            <button type="button" class="btn btn-success btn-lg attendance">
                <span class="attending">
                    <span class="glyphicon glyphicon-ok"></span> Attending
                </span>
                <span class="leave">
                    <span class="glyphicon glyphicon-remove"></span> Leave
                </span>
            </button>
        </div>
    </div>
    <div class="container">
        <h1>Events</h1>
        <hr>
        <div class="row">
            <a class="col-sm-4" ng-if="events" href="/event-{{event.eventId}}" ng-repeat="event in events">
                <div class="card card-inverse">
                    <img ng-src="{{getMap(event)}}" class="card-img">
                    <div class="card-img-overlay">
                        <h3 class="card-title">{{event.name}}</h3>
                        <h4 class="card-subtitle">{{event.address}}</h4>
                        <h4 class="card-subtitle">{{event.startTime}} to {{event.endTime}}</h4>
                        <h4 class="card-subtitle">{{event.speaker}}</h4>
                    </div>
                </div>
            </a>
            <h4 class="upcoming" ng-if="!events">No events have been registered yet. Sign up for notifications about events for this conference <a href="">here</a>.</h4>
        </div>
    </div>
</div>
