<div id="admin">
    <div class="container">
        <div class="margin-top-25">

            <div class="btn-group pull-left">
                <label class="btn btn-default" ng-model="radioModel" uib-btn-radio="''">All</label>
                <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'approved'">Approved</label>
                <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'pending'">Pending</label>
                <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'denied'">Denied</label>
            </div>

            <a class="btn btn-success pull-right" type="button" ui-sref="create-conference" ng-if="user.permissions['conference.store']">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Create Conference
            </a>

        </div>
    </div>
    <div uib-accordion class="container" id="admin-conferences" close-others="false">
        <uib-accordion-group class="margin-top-25" ng-repeat="c in conferences | filter:{status: radioModel} track by $index">
            <uib-accordion-heading is-open="isCollapsed">
                <div class="panel-body">
                    <div class="title-status">
                        <h2>{{c.name}}&nbsp</h2>
                        <label class="alert" ng-class="{'status-pending': c.status=='pending', 'status-approved': c.status=='approved', 'status-denied': c.status=='denied'}">{{c.status | uppercase}}</label>
                    </div>
                    <p>{{c.address}}</p>
                    <p>{{c.city}}, {{c.country}}</p>
                    <p>{{c.start_date | date}} - {{c.end_date | date}}</p>
                    <p>{{c.attendee_count}}/{{c.capacity}}</p>
                    <div class="btn-group">
                        <button class="btn btn-sm btn-success margin-top-35" ng-click="goCreateEvent(c.id, $event)" ng-if="checkPermission('event.store', 'conference', c.id)">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>&nbspCreate Event
                        </button>
                        <button class="btn btn-sm btn-danger margin-top-35" ng-click="deleteConference(c.id, $event)" ng-if="checkPermission('conference.destroy', 'conference', c.id)">
                            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>&nbspDelete
                        </button>
                    </div>
                    <div class="pull-right hidden-xs margin-top-35">
                        <button class="btn btn-sm btn-default" ng-if="checkPermissions('user', '', '')" ng-click="goConferenceManagers(c.id, $event)">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Managers
                        </button>
                        <button class="btn btn-sm btn-default" ng-if="checkPermissions('conference_attendee', 'conference', c.id)" ng-click="goReports(c.id, $event)">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Reports
                        </button>
                        <button class="btn btn-sm btn-default" ng-if="checkPermissions('accommodation', 'conference', c.id)" ng-click="goAccommodations(c.id, $event)">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Accommodations
                        </button>
                        <button class="btn btn-sm btn-default" ng-if="checkPermissions('item', 'conference', c.id)" ng-click="goInventory(c.id, $event)">
                            <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Inventory
                        </button>
                        <button class="btn btn-sm btn-default" ng-if="checkPermissions('conference_vehicle', 'conference', c.id)" ng-click="goConferenceTransportation(c.id, $event)">
                            <span class="glyphicon glyphicon-road" aria-hidden="true"></span> Vehicles
                        </button>
                        <button class="btn btn-sm btn-default" ng-if="checkPermissions('conference_attendee', 'conference', c.id)" ng-click="goConferenceAttendees(c.id, $event)">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Attendees
                        </button>
                    </div>
                    <div class="visible-xs btn-group pull-right margin-top-35">
                        <button class="btn btn-sm btn-default" ng-if="checkPermissions('user', '', '')" ng-click="goConferenceManagers(c.id, $event)">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        </button>
                        <button class="btn btn-sm btn-default" ng-if="checkPermissions('conference_attendee', 'conference', c.id)" ng-click="goReports(c.id, $event)">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        </button>
                        <button class="btn btn-sm btn-default" ng-if="checkPermissions('accommodation', 'conference', c.id)" ng-click="goAccommodations(c.id, $event)">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                        </button>
                        <button class="btn btn-sm btn-default" ng-if="checkPermissions('item', 'conference', c.id)" ng-click="goInventory(c.id, $event)">
                            <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
                        </button>
                        <button class="btn btn-sm btn-default" ng-if="checkPermissions('conference_vehicle', 'conference', c.id)" ng-click="goTransportation(c.id, $event)">
                            <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
                        </button>
                        <button class="btn btn-sm btn-default" ng-if="checkPermissions('conference_attendee', 'conference', c.id)">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </uib-accordion-heading>
            <div ng-if="events[$index]">
                <div id="admin-events" ng-repeat="e in events[$index]">
                    <div class="panel-body">
                        <div class="title-status">
                            <h3 class="con-title">{{e.name}}&nbsp</h3>
                            <label class="alert" ng-class="{'status-pending': e.status=='pending', 'status-approved': e.status=='approved', 'status-denied': e.status=='denied'}">{{e.status | uppercase}}</label>
                        </div>
                        <p>{{e.address}}</p>
                        <p>{{e.date | date}}</p>
                        <p>{{e.start_time | time}} - {{e.end_time | time}}</p>
                        <p>{{e.attendee_count}}/{{e.capacity}}</p>
                        <button class="btn btn-sm btn-danger margin-top-35" ng-if="checkPermission('event.destroy', 'event', e.id) || checkPermission('event.destroy', 'conference', 'c.id')" ng-click="deleteEvent(c.id, e.id, $event)">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbspDelete
                        </button>
                        <div class="hidden-xs pull-right margin-top-35">
                            <button class="btn btn-sm btn-default" ng-if="checkPermissions('user', '', '')" ng-click="goEventManagers(e.id, $event)">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Managers
                            </button>
                            <button class="btn btn-sm btn-default" ng-if="checkPermissions('event_vehicle', 'event', e.id) || checkPermissions('event_vehicle', 'conference', 'c.id')" ng-click="goEventTransportation(c.id, e.id, $event)">
                                <span class="glyphicon glyphicon-road" aria-hidden="true"></span> Vehicles
                            </button>
                            <button class="btn btn-sm btn-default" ng-if="checkPermissions('event_attendee', 'event', e.id) || checkPermissions('event_attendee', 'conference', 'c.id')" ng-click="goEventAttendees(c.id, e.id, $event)">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Attendees
                            </button>
                        </div>
                        <div class="visible-xs btn-group pull-right margin-top-35">
                            <button class="btn btn-sm btn-default" ng-if="checkPermissions('user', '', '')" ng-click="goEventManagers(e.id, $event)">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                            <button class="btn btn-sm btn-default" ng-if="checkPermissions('event_vehicle', 'event', e.id) ||  checkPermissions('event_vehicle', 'conference', 'c.id')">
                                <span class="glyphicon glyphicon-road" aria-hidden="true" ng-click="goEventTransportation(c.id, e.id, $event)"></span>
                            </button>
                            <button class="btn btn-sm btn-default" ng-if="checkPermissions('event_attendee', 'event', e.id) || checkPermissions('event_attendee', 'conference', 'c.id')">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span ng-click="goEventAttendees(c.id, e.id, $event)">
                            </button>
                        </div>
                    </div>
                    <hr ng-show="!$last">
                </div>
            </div>
            <div ng-if="!events[$index]">
                <p class="event-text">No events scheduled yet!</p>
            </div>
        </uib-accordion-group>
    </div>
</div>
