.margin-top-25  {
	margin-top: 25px;
}

.margin-top-50  {
	margin-top: 50px;
}

.margin-right-25  {
	margin-right: 25px;
}

.con_text {
	font-size: 150%;
}

.event_text {
	font-size: 100%;
}

.panel-heading {
    cursor: pointer;
}