.margin-top-25  {
	margin-top: 25px;
}

.margin-top-50  {
	margin-top: 50px;
}

.margin-top-35 {
	margin-top: 35px;
}

.margin-right-25  {
	margin-right: 25px;
}

.con-title {
    font-size: 150%;
}

#admin-conferences .panel-title a {
    text-decoration: none !important;
}

#admin-conferences h2,
#admin-conferences h3 {
    margin-top: 0px;
}

#admin #admin-events hr {
    margin-top: 5px;
    margin-bottom: 15px;
}

#admin #admin-events .alert {
    line-height: 1.1;
}

.title-status {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
