<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle" ng-click="showCollapsed()" ng-hide="!auth">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">Huddle</a>
            <div class="visible-xs" id="login-btn">
                <a href="/register" type="button" class="navbar-btn btn btn-success" ng-if="!auth">Sign up</a>
                <a href="/login" type="button" class="navbar-btn btn btn-default" ng-if="!auth">Sign in</a>
            </div>
        </div>
        <div class="navbar-right hidden-xs">
            <a href="/register" type="button" class="navbar-btn btn btn-success" ng-if="!auth">Sign up</a>
            <a href="/login" type="button" class="navbar-btn btn btn-default" ng-if="!auth">Sign in</a>
        </div>
        <div class="navbar-collapse" uib-collapse="isCollapsed" ng-hide="!auth">
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="auth && check('admin', '', '')"><a href="/admin">Admin</a></li>
                <li ng-if="auth && check('accounts', '', '')"><a href="/accounts">Manage Accounts</a></li>
                <li ng-if="auth && check('publisher', '', '')"><a href="/requests">Publisher</a></li>
                <li ng-if="auth" class="dropdown" uib-dropdown>
                    <a role="button" class="dropdown-toggle" uib-dropdown-toggle>
                      Activity Log <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li role="menuitem" ng-repeat="log in logs"><a href="#"> {{log.Time}} {{log.Log}}</a></li>
                        <li class="divider"></li>
                        <li role="menuitem"><a href="/logs" ng-if="auth"><p class="text-center">View All</p></a></li>
                    </ul>
                  </li>
                <li><a href="/profile" ng-if="auth">{{user.name | uppercase}}</a></li>
                <li><a ng-if="auth" href="" ng-click="logout()" id="signout-btn">Sign Out <i class="glyphicon glyphicon-off"></i></a></li>
            </ul>
        </div>
    </div>
</nav>
